<textarea
        id="@@id"
        rows="5"
        class="text-blue-gray-700 disabled:bg-blue-gray-50 placeholder-shown:border-blue-gray-200 placeholder-shown:border-t-blue-gray-200 border-t-blue-gray-200 border-blue-gray-200 peer h-full w-full rounded-[7px] border bg-transparent px-3 py-2.5 font-sans text-base font-normal outline-0 transition-all placeholder-shown:border focus:outline-0 focus:outline-primary focus:border-primary disabled:border-0 min-h-[80px] max-h-[300px]"
        placeholder="@@placeholder"
        @@optional_attr
></textarea>
<label for="@@id" class="text-blue-gray-700 text-sm">
    @@hint
</label>
