<div class="mb-8 mt-4">
    @@include('filters.html', {area: "orders"})
    <div
            class="relative flex h-full w-full flex-col rounded-xl bg-white bg-clip-border text-gray-700 shadow-md"
    >
        <div class="overflow-x-auto rounded-xl">
            <table class="w-full min-w-[1000px] table-auto overflow-x-auto text-left">
                <thead>
                <tr>

                    <th
                            class="border-blue-gray-100 bg-blue-gray-50/50 hover:bg-blue-gray-50 cursor-pointer border-b p-2 transition-colors"
                    >
                        <div class="inline-flex items-center">
                            @@include('shared/checkbox-input.html',
                            {id: "orders-0",
                            optional_attr: 'data-table-checkbox-main="orders" '
                            }
                            )
                        </div>
                    </th>

                    <th
                            class="w-[150px] border-blue-gray-100 bg-blue-gray-50/50 hover:bg-blue-gray-50 cursor-pointer border-b p-3 transition-colors"
                    >
                        <div data-sorting-trigger class="flex items-center justify-between gap-2 font-sans text-md font-normal leading-none antialiased ">
                            <p data-sorting-title class="font-semibold underline-offset-4 cursor-pointer opacity-70">Заказ</p>
                            <div data-sorting-wrapper class="hidden gap-1 items-center">
                                <div data-sorting-ascending class="mb-[5px]">
                                    <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M17 8V20M3 4H16H3ZM3 8H12H3ZM3 12H9H3ZM13 12L17 8L13 12ZM17 8L21 12L17 8Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                </div>
                                <span class="w-[2px] h-[15px] bg-[#8E8E8E] rotate-[15deg] rounded-full"></span>
                                <div data-sorting-descending class="mt-[5px]">
                                    <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M17 20L21 16M3 4H16H3ZM3 8H12H3ZM3 12H12H3ZM17 8V20V8ZM17 20L13 16L17 20Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </th>
                    <th
                            class="w-[150px] border-blue-gray-100 bg-blue-gray-50/50 hover:bg-blue-gray-50 cursor-pointer border-b p-3 transition-colors"
                    >
                        <p
                                class="text-blue-gray-900 flex items-center justify-between gap-2 font-sans text-md font-normal leading-none antialiased opacity-70"
                        >
                            Клиент
                        </p>
                    </th>
                    <th
                            class="md:w-[33rem] border-blue-gray-100 bg-blue-gray-50/50 hover:bg-blue-gray-50 cursor-pointer border-b p-3 transition-colors"
                    >
                        <p
                                class="text-blue-gray-900 flex items-center justify-between gap-2 font-sans text-md font-normal leading-none antialiased opacity-70"
                        >
                            Запчасти
                        </p>
                    </th>
                    <th
                            class="border-blue-gray-100 bg-blue-gray-50/50 hover:bg-blue-gray-50 cursor-pointer border-b p-3 transition-colors"
                    >
                        <p
                                class="text-blue-gray-900 flex items-center justify-between gap-2 font-sans text-md font-normal leading-none antialiased opacity-70"
                        >
                            Ответственный
                        </p>
                    </th>
                    <th
                            class="border-blue-gray-100 bg-blue-gray-50/50 hover:bg-blue-gray-50 cursor-pointer border-b p-3 transition-colors"
                    >
                        <div data-sorting-trigger class="flex items-center justify-between gap-2 font-sans text-md font-normal leading-none antialiased ">
                            <p data-sorting-title class="font-semibold underline-offset-4 cursor-pointer opacity-70">Сумма</p>
                            <div data-sorting-wrapper class="hidden gap-1 items-center">
                                <div data-sorting-ascending class="mb-[5px]">
                                    <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M17 8V20M3 4H16H3ZM3 8H12H3ZM3 12H9H3ZM13 12L17 8L13 12ZM17 8L21 12L17 8Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                </div>
                                <span class="w-[2px] h-[15px] bg-[#8E8E8E] rotate-[15deg] rounded-full"></span>
                                <div data-sorting-descending class="mt-[5px]">
                                    <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M17 20L21 16M3 4H16H3ZM3 8H12H3ZM3 12H12H3ZM17 8V20V8ZM17 20L13 16L17 20Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </th>
                    <th
                            class="border-blue-gray-100 bg-blue-gray-50/50 hover:bg-blue-gray-50 cursor-pointer border-b p-3 transition-colors"
                    >
                        <div data-sorting-trigger class="flex items-center justify-between gap-2 font-sans text-md font-normal leading-none antialiased ">
                            <p data-sorting-title class="font-semibold underline-offset-4 cursor-pointer opacity-70">Обновлен</p>
                            <div data-sorting-wrapper class="hidden gap-1 items-center">
                                <div data-sorting-ascending class="mb-[5px]">
                                    <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M17 8V20M3 4H16H3ZM3 8H12H3ZM3 12H9H3ZM13 12L17 8L13 12ZM17 8L21 12L17 8Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                </div>
                                <span class="w-[2px] h-[15px] bg-[#8E8E8E] rotate-[15deg] rounded-full"></span>
                                <div data-sorting-descending class="mt-[5px]">
                                    <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M17 20L21 16M3 4H16H3ZM3 8H12H3ZM3 12H12H3ZM17 8V20V8ZM17 20L13 16L17 20Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </th>

                </tr>
                <tr>
                    <th
                            class="border-blue-gray-100 bg-blue-gray-50/50 hover:bg-blue-gray-50 cursor-pointer border-y p-2 transition-colors"
                    ></th>
                    <th
                            class="border-blue-gray-100 bg-blue-gray-50/50 hover:bg-blue-gray-50 cursor-pointer border-y p-3 transition-colors"
                    >
                        <div class=" w-full">
                            @@include('shared/input-search.html', {
                            placeholder: "Фильтр",
                            fontSize: "text-sm",
                            hint: "", optional_attr: "",
                            id: "",
                            loupe: '<img src="../../../../img/icons/loupe.svg">',
                            width: "w-[150px]"
                            })
                        </div>
                    </th>
                    <th
                            class="border-blue-gray-100 bg-blue-gray-50/50 hover:bg-blue-gray-50 cursor-pointer border-y p-3 transition-colors"
                    >
                        <div class=" w-full">
                            @@include('shared/input-search.html', {
                            placeholder: "Фильтр",
                            fontSize: "text-sm",
                            hint: "", optional_attr: "",
                            id: "",
                            loupe: '<img src="../../../../img/icons/loupe.svg">',
                            width: "w-[150px]"
                            })
                        </div>
                    </th>
                    <th
                            class="border-blue-gray-100 bg-blue-gray-50/50 hover:bg-blue-gray-50 cursor-pointer border-y p-3 transition-colors"
                    >

                    </th>
                    <th
                            class="border-blue-gray-100 bg-blue-gray-50/50 hover:bg-blue-gray-50 cursor-pointer border-y p-3 transition-colors"
                    >

                    </th>
                    <th
                            class="border-blue-gray-100 bg-blue-gray-50/50 hover:bg-blue-gray-50 cursor-pointer border-y p-3 transition-colors"
                    >
                    </th>
                    <th
                            class="border-blue-gray-100 bg-blue-gray-50/50 hover:bg-blue-gray-50 cursor-pointer border-y p-3 transition-colors"
                    >
                    </th>

                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="border-blue-gray-50 border-b p-2">
                        <div class="inline-flex items-center">
                            @@include('shared/checkbox-input.html', {id: "orders-1", optional_attr: "data-table-checkbox-secondary='orders'" })
                        </div>
                    </td>
                    <td class="border-blue-gray-50 border-b p-3">
                        <div class="flex flex-col  justify-center gap-1">
                            <div class="flex items-center gap-3">
                                <button class="text-lg text-primary" type="button" data-graph-path="change-order">
                                    #7072
                                </button>
                                <div
                                        class="relative inline-flex items-center h-fit w-fit rounded-md bg-blue-500 px-1 py-0.5 font-sans text-[10px] font-bold uppercase text-white"
                                >
                                    <span>в работе</span>
                                </div>
                            </div>
                            <h4 class="text-md text-gray-500">Вчера 17:26</h4>
                        </div>
                    </td>
                    <td class="border-blue-gray-50 border-b p-3">
                        <div class="flex flex-col  justify-center gap-1">
                            <h4 class="text-lg text-blue-gray">+7 (920) 505 4565</h4>
                            <h4 class="text-md text-gray-500">важно</h4>
                        </div>
                    </td>
                    <td class="border-blue-gray-50 border-b p-3">
                        <div class="flex flex-col  justify-center gap-1">
                            <div class="flex gap-1">
                                <h4 class="text-lg text-blue-gray">Крышка инструментального ящика 2023 г.</h4>
                                <h4 class="text-lg text-gray-500">Sinotruk Sitrak C7H</h4>
                            </div>
                            <h4 class="text-md text-gray-500">и ещё 1 запчасть</h4>
                        </div>
                    </td>
                    <td class="border-blue-gray-50 border-b p-3">
                        <h4
                                class="text-blue-gray-900 text-lg font-normal leading-normal antialiased"
                        >
                            Светиков А.
                        </h4>
                    </td>
                    <td class="border-blue-gray-50 border-b p-3">
                        <h4
                                class="text-blue-gray-900 text-lg font-normal leading-normal antialiased"
                        >
                            6 000 р.
                        </h4>
                    </td>
                    <td class="border-blue-gray-50 border-b p-3">
                        <h4
                                class="text-blue-gray-900 text-lg font-normal leading-normal antialiased"
                        >
                            Вчера <span class="text-gray-500 text-lg">17:26</span>
                        </h4>
                    </td>

                </tr>
                <tr>
                    <td class="border-blue-gray-50 border-b p-2">
                        <div class="inline-flex items-center">
                            @@include('shared/checkbox-input.html', {id: "orders-2", optional_attr: "data-table-checkbox-secondary='orders'" })
                        </div>
                    </td>
                    <td class="border-blue-gray-50 border-b p-3">
                        <div class="flex flex-col  justify-center gap-1">
                            <div class="flex items-center gap-3">
                                <button class="text-lg text-primary" type="button">#7072</button>
                                <div
                                        class="relative inline-flex items-center h-fit w-fit rounded-md bg-blue-500 px-1 py-0.5 font-sans text-[10px] font-bold uppercase text-white"
                                >
                                    <span>в работе</span>
                                </div>
                            </div>
                            <h4 class="text-md text-gray-500">Вчера 17:26</h4>
                        </div>
                    </td>
                    <td class="border-blue-gray-50 border-b p-3">
                        <div class="flex flex-col  justify-center gap-1">
                            <h4 class="text-lg text-blue-gray">+7 (920) 505 4565</h4>
                            <h4 class="text-md text-gray-500">важно</h4>
                        </div>
                    </td>
                    <td class="border-blue-gray-50 border-b p-3">
                        <div class="flex flex-col  justify-center gap-1">
                            <div class="flex gap-1">
                                <h4 class="text-lg text-blue-gray">Крышка инструментального ящика 2023 г.</h4>
                                <h4 class="text-lg text-gray-500">Sinotruk Sitrak C7H</h4>
                            </div>
                            <h4 class="text-md text-gray-500">и ещё 1 запчасть</h4>
                        </div>
                    </td>
                    <td class="border-blue-gray-50 border-b p-3">
                        <h4
                                class="text-blue-gray-900 text-lg font-normal leading-normal antialiased"
                        >
                            Светиков А.
                        </h4>
                    </td>
                    <td class="border-blue-gray-50 border-b p-3">
                        <h4
                                class="text-success text-lg font-normal leading-normal antialiased"
                        >
                            12 000 р.
                        </h4>
                    </td>
                    <td class="border-blue-gray-50 border-b p-3">
                        <h4
                                class="text-blue-gray-900 text-lg font-normal leading-normal antialiased"
                        >
                            Вчера <span class="text-gray-500 text-lg">17:26</span>
                        </h4>
                    </td>

                </tr>
                <tr class="disabled-item">
                    <td class="border-blue-gray-50 border-b p-2">
                        <div class="inline-flex items-center">
                            @@include('shared/checkbox-input.html', {id: "orders-3", optional_attr: "data-table-checkbox-secondary='orders'" })
                        </div>
                    </td>
                    <td class="border-blue-gray-50 border-b p-3">
                        <div class="flex flex-col  justify-center gap-1">
                            <div class="flex items-center gap-3">
                                <button class="text-lg text-primary" type="button">#7072</button>
                                <div
                                        class="relative inline-flex items-center h-fit w-fit rounded-md bg-blue-500 px-1 py-0.5 font-sans text-[10px] font-bold uppercase text-white"
                                >
                                    <span>в работе</span>
                                </div>
                            </div>
                            <h4 class="text-md text-gray-500">Вчера 17:26</h4>
                        </div>
                    </td>
                    <td class="border-blue-gray-50 border-b p-3">
                        <div class="flex flex-col  justify-center gap-1">
                            <h4 class="text-lg text-blue-gray">+7 (920) 505 4565</h4>
                            <h4 class="text-md text-gray-500">важно</h4>
                        </div>
                    </td>
                    <td class="border-blue-gray-50 border-b p-3">
                        <div class="flex flex-col  justify-center gap-1">
                            <div class="flex gap-1">
                                <h4 class="text-lg text-blue-gray">Крышка инструментального ящика 2023 г.</h4>
                                <h4 class="text-lg text-gray-500">Sinotruk Sitrak C7H</h4>
                            </div>
                            <h4 class="text-md text-gray-500">и ещё 1 запчасть</h4>
                        </div>
                    </td>
                    <td class="border-blue-gray-50 border-b p-3">
                        <h4
                                class="text-blue-gray-900 text-lg font-normal leading-normal antialiased"
                        >
                            Светиков А.
                        </h4>
                    </td>
                    <td class="border-blue-gray-50 border-b p-3">
                        <h4
                                class="text-success text-lg font-normal leading-normal antialiased"
                        >
                            12 000 р.
                        </h4>
                    </td>
                    <td class="border-blue-gray-50 border-b p-3">
                        <h4
                                class="text-blue-gray-900 text-lg font-normal leading-normal antialiased"
                        >
                            Вчера <span class="text-gray-500 text-lg">17:26</span>
                        </h4>
                    </td>

                </tr>
                </tbody>
            </table>
        </div>
        @@include('global/parts-selection/toasts.html')
    </div>
    @@include('footer.html',
    {summary:
    "Всего 24983 записи на сумму 684 541 051 р. (продано 8944 записи на 330 422720 р.)"
    }
    )
</div>



