<div class="mb-8 mt-4">
    @@include('filters.html')
    <div
            class="relative flex h-full w-full flex-col rounded-xl bg-white bg-clip-border text-gray-700 shadow-md"
    >
        <div class="overflow-x-auto rounded-xl">
            <table class="w-full min-w-[1000px] table-auto overflow-x-auto text-left">
                <thead>
                <tr>

                    <th
                            class="border-blue-gray-100 bg-blue-gray-50/50 hover:bg-blue-gray-50 cursor-pointer border-b p-2 transition-colors"
                    >
                        <div class="inline-flex items-center">
                            @@include('shared/checkbox-input.html', {id: "0"})
                        </div>
                    </th>
                    <th
                            class="border-blue-gray-100 bg-blue-gray-50/50 hover:bg-blue-gray-50 cursor-pointer border-b p-3 transition-colors"
                    >
                        <p
                                class="text-blue-gray-900 flex items-center justify-between gap-2 font-sans text-md font-normal leading-none antialiased opacity-70"
                        >
                            Модель ТС
                            <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    fill="none"
                                    viewBox="0 0 24 24"
                                    stroke-width="2"
                                    stroke="currentColor"
                                    aria-hidden="true"
                                    class="h-4 w-4"
                            >
                                <path
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                        d="M8.25 15L12 18.75 15.75 15m-7.5-6L12 5.25 15.75 9"
                                ></path>
                            </svg>
                        </p>
                    </th>
                    <th
                            class="border-blue-gray-100 bg-blue-gray-50/50 hover:bg-blue-gray-50 cursor-pointer border-b p-3 transition-colors"
                    >
                        <p
                                class="text-blue-gray-900 flex items-center justify-between gap-2 font-sans text-md font-normal leading-none antialiased opacity-70"
                        >
                            Код
                            <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    fill="none"
                                    viewBox="0 0 24 24"
                                    stroke-width="2"
                                    stroke="currentColor"
                                    aria-hidden="true"
                                    class="h-4 w-4"
                            >
                                <path
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                        d="M8.25 15L12 18.75 15.75 15m-7.5-6L12 5.25 15.75 9"
                                ></path>
                            </svg>
                        </p>
                    </th>
                    <th
                            class="border-blue-gray-100 bg-blue-gray-50/50 hover:bg-blue-gray-50 cursor-pointer border-b p-3 transition-colors"
                    >
                        <p
                                class="text-blue-gray-900 flex items-center justify-between gap-2 font-sans text-md font-normal leading-none antialiased opacity-70"
                        >
                            Год
                            <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    fill="none"
                                    viewBox="0 0 24 24"
                                    stroke-width="2"
                                    stroke="currentColor"
                                    aria-hidden="true"
                                    class="h-4 w-4"
                            >
                                <path
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                        d="M8.25 15L12 18.75 15.75 15m-7.5-6L12 5.25 15.75 9"
                                ></path>
                            </svg>
                        </p>
                    </th>
                    <th
                            class="border-blue-gray-100 bg-blue-gray-50/50 hover:bg-blue-gray-50 cursor-pointer border-b p-3 transition-colors"
                    >
                        <p
                                class="text-blue-gray-900 flex items-center justify-between gap-2 font-sans text-md font-normal leading-none antialiased opacity-70"
                        >
                            Тип двигателя
                            <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    fill="none"
                                    viewBox="0 0 24 24"
                                    stroke-width="2"
                                    stroke="currentColor"
                                    aria-hidden="true"
                                    class="h-4 w-4"
                            >
                                <path
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                        d="M8.25 15L12 18.75 15.75 15m-7.5-6L12 5.25 15.75 9"
                                ></path>
                            </svg>
                        </p>
                    </th>
                    <th
                            class="border-blue-gray-100 bg-blue-gray-50/50 hover:bg-blue-gray-50 cursor-pointer border-b p-3 transition-colors"
                    >
                        <p
                                class="text-blue-gray-900 flex items-center justify-between gap-2 font-sans text-md font-normal leading-none antialiased opacity-70"
                        >
                            Объем двигателя
                        </p>
                    </th>
                    <th
                            class="border-blue-gray-100 bg-blue-gray-50/50 hover:bg-blue-gray-50 cursor-pointer border-b p-3 transition-colors"
                    >
                        <p
                                class="text-blue-gray-900 flex items-center justify-between gap-2 font-sans text-md font-normal leading-none antialiased opacity-70"
                        >
                            КПП
                        </p>
                    </th>
                    <th
                            class="border-blue-gray-100 bg-blue-gray-50/50 hover:bg-blue-gray-50 cursor-pointer border-b p-3 transition-colors"
                    >
                        <p
                                class="text-blue-gray-900 flex items-center justify-between gap-2 font-sans text-md font-normal leading-none antialiased opacity-70"
                        >
                            Описание
                        </p>
                    </th>
                    <th
                            class="border-blue-gray-100 bg-blue-gray-50/50 hover:bg-blue-gray-50 cursor-pointer border-b p-3 transition-colors"
                    >
                        <p
                                class="text-blue-gray-900 flex items-center justify-between gap-2 font-sans text-md font-normal leading-none antialiased opacity-70"
                        >
                            Добавлена
                        </p>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="border-blue-gray-50 border-b p-2">
                        <div class="inline-flex items-center">
                            @@include('shared/checkbox-input.html', {id: "1"})
                        </div>
                    </td>
                    <td class="border-blue-gray-50 group border-b p-3">
                        <button type="button"  data-graph-path="change-cars" class="flex flex-col gap-1">
                            <div class="flex items-center gap-2">
                                <div class="group relative h-12 w-12 flex-shrink-0">
                                    <img
                                            src="../img/engine.png"
                                            alt="engine"
                                            class="h-full w-full rounded-[5px] object-cover"
                                    />
                                </div>
                                <h4
                                        class="text-md transition-all group-hover:text-primary group-hover:opacity-75 text-start"
                                >
                                    Абсорбер топливной системы
                                </h4>
                            </div>
                        </button>
                    </td>
                    <td class="border-blue-gray-50 border-b p-3">
                        <div class="flex w-min justify-start">
                            <h4 class="text-md">К8</h4>
                        </div>
                    </td>
                    <td class="border-blue-gray-50 border-b p-3">
                        <div class="flex w-min justify-start">
                            <h4 class="text-md">2 018</h4>
                        </div>
                    </td>
                    <td class="border-blue-gray-50 border-b p-3">
                        <h4
                                class="text-blue-gray-900 text-md font-normal leading-normal antialiased"
                        >
                            Дизель
                        </h4>
                    </td>
                    <td class="border-blue-gray-50 border-b p-3">
                        <h4 class="text-md">16 литров</h4>
                    </td>
                    <td class="border-blue-gray-50 border-b p-3">
                        <h4 class="whitespace-nowrap text-md">МКПП</h4>
                    </td>
                    <td class="max-w-[300px] border-blue-gray-50 border-b p-3">
                        Город: Москва
                        Двигатель: OM457LA V/3-06 401 л.с. Euro 5
                        КПП: МКПП ZF 16S2220TD
                        Редуктор: R440P 24000S 3.077
                    </td>
                    <td class="border-blue-gray-50 border-b p-3">
                        <h4 class="text-md">06.06.2024</h4>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    @@include('footer.html')
</div>
