<header class="sticky left-0 top-0 z-40 -mx-2 rounded-lg">
  <nav
    class="border-blue-gray-50 block w-full border-b bg-opacity-80 px-2 py-5 text-white backdrop-blur-2xl backdrop-saturate-200"
  >
    <div class="text-blue-gray-900 flex items-center justify-between">
      <div class="flex items-center gap-5">
        <h2 class="text-2xl font-bold text-blue-gray">История операций</h2>
        <div class="rounded-[10px] bg-success px-2 py-1">
          <span class="text-base font-medium text-white"
            >Текущий баланс: 36 185</span
          >
        </div>
      </div>
      <div class="block">
        @@include('shared/button.html', { title: "Планируемое списание",
        color: "bg-primary", })
      </div>
    </div>
  </nav>
</header>
