<header class="py-3">
    <nav class=" block w-full rounded-xl border border-white/80 bg-white bg-opacity-80 px-6 py-3 text-white shadow-md backdrop-blur-2xl backdrop-saturate-200">
        <div class="flex items-center justify-between text-blue-gray-900">
            <h2 class="font-normal text-2xl">Запчасти</h2>
            <div class="hidden lg:block">
                <ul class="my-2 flex flex-col gap-2 lg:mb-0 lg:mt-0 lg:flex-row lg:items-center lg:gap-6">
                    <li data-popover-target="cog"
                        class="relative block p-1 font-sans text-md font-medium leading-normal text-blue-gray-900 antialiased"
                    >
                        <button class="group flex w-full transition-all items-center gap-2 rounded-lg bg-blue-gray-50/50 p-3 py-2 pr-4 text-start font-medium leading-tight hover:bg-primary hover:text-light-gray focus:bg-primary focus:text-light-gray  ">
                            запчасти
                        </button>
                    </li>

                    <li>

                        <div id="preheader_tabs" class="relative flex flex-wrap p-1 gap-3  list-none rounded-lg bg-blue-gray-50/60">
                            <button class=" transition-allz-30 flex-auto text-center p-2 rounded-lg">
                                <h4 class="z-30 flex items-center justify-center w-full px-0  mb-0 transition-all ease-in-out border-0 rounded-lg cursor-pointer text-slate-700 bg-inherit"
                                >
                                    <span class="ml-1">Все </span>
                                </h4>
                            </button>
                            <button class=" transition-all z-30 flex-auto text-center px-2 rounded-lg">
                                <h4 class="z-30 flex items-center justify-center w-full px-0  mb-0 transition-all ease-in-out border-0 rounded-lg cursor-pointer text-slate-700 bg-inherit">
                                    <span class="ml-1">На складе</span>
                                </h4>
                            </button>
                            <button class=" transition-allz-30 flex-auto text-center p-2 rounded-lg">
                                <h4 class="z-30 flex items-center justify-center w-full px-0  mb-0 transition-all ease-in-out border-0 rounded-lg cursor-pointer text-slate-700 bg-inherit">
                                    <span class="ml-1">Под заказ</span>
                                </h4>
                            </button>
                        </div>

                    </li>

                    <li class="block p-1 font-sans text-lg font-medium leading-normal text-blue-gray-900 antialiased">
                        <a
                                href="#"
                                class="flex items-center transition-colors hover:text-primary"
                        >
                            Разбор по каталогу
                        </a>
                    </li>

                    <li data-popover-target="filter"
                        class="relative block p-1 font-sans text-lg font-medium leading-normal text-blue-gray-900 antialiased"
                    >
                        <button class="flex w-full transition-all items-center gap-2 rounded-lg bg-blue-gray-50/50 p-3 py-2 pr-4 text-start font-medium leading-tight hover:bg-primary hover:text-light-gray focus:bg-primary focus:text-light-gray  ">
                            <h4>Фильтр</h4>
                        </button>
                    </li>

                    <li data-popover-target="add"
                        class="relative block p-1 font-sans text-lg font-medium leading-normal text-blue-gray-900  antialiased"
                    >
                        <button class="flex w-full transition-all items-center gap-2 rounded-lg bg-blue-gray-50/50 p-3 py-2 pr-4 text-start font-medium leading-tight hover:bg-primary hover:text-light-gray focus:bg-primary focus:text-light-gray  ">
                            Добавить
                        </button>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
    <div class="absolute z-[999] hidden min-w-[180px] max-w-screen-xl overflow-auto rounded-xl border border-blue-gray-50 bg-white p-3 font-sans text-sm font-normal text-blue-gray-500  shadow-lg shadow-blue-gray-500/10 focus:outline-none lg:block"

         role="menu"
         data-popover="cog"
         data-popover-placement="bottom"
    >
        <div role="button"
             class="flex items-center w-full p-0 leading-tight transition-all rounded-lg outline-none text-start hover:bg-blue-gray-50 hover:bg-opacity-80 hover:text-blue-gray-900 focus:bg-blue-gray-50 focus:bg-opacity-80 focus:text-blue-gray-900 active:bg-blue-gray-50 active:bg-opacity-80 active:text-blue-gray-900">
            <label htmlFor="cog_1" class="flex items-center w-full px-3 py-2 cursor-pointer">
                <div class="grid mr-3 place-items-center">
                    <div class="inline-flex items-center">
                        <label class="relative flex items-center p-0 rounded-full cursor-pointer"
                               htmlFor="cog_1">
                            <input id="cog_1" type="checkbox"
                                   class="before:content[''] peer relative h-5 w-5 cursor-pointer appearance-none rounded-md border border-blue-gray-200 transition-all before:absolute before:top-2/4 before:left-2/4 before:block before:h-12 before:w-12 before:-translate-y-2/4 before:-translate-x-2/4 before:rounded-full before:bg-blue-gray-500 before:opacity-0 before:transition-opacity checked:border-gray-900 checked:bg-gray-900 checked:before:bg-gray-900 hover:before:opacity-0"/>
                            <span
                                    class="absolute text-white transition-opacity opacity-0 pointer-events-none top-2/4 left-2/4 -translate-y-2/4 -translate-x-2/4 peer-checked:opacity-100">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-3.5 w-3.5" viewBox="0 0 20 20" fill="currentColor"
                     stroke="currentColor" stroke-width="1">
                  <path fill-rule="evenodd"
                        d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                        clip-rule="evenodd"></path>
                </svg>
              </span>
                        </label>
                    </div>
                </div>
                <h4 class="block font-sans text-base antialiased font-medium leading-relaxed text-blue-gray-900">
                    Цена при продаже
                </h4>
            </label>
        </div>
        <div role="button"
             class="flex items-center w-full p-0 leading-tight transition-all rounded-lg outline-none text-start hover:bg-blue-gray-50 hover:bg-opacity-80 hover:text-blue-gray-900 focus:bg-blue-gray-50 focus:bg-opacity-80 focus:text-blue-gray-900 active:bg-blue-gray-50 active:bg-opacity-80 active:text-blue-gray-900">
            <label htmlFor="cog_2" class="flex items-center w-full px-3 py-2 cursor-pointer">
                <div class="grid mr-3 place-items-center">
                    <div class="inline-flex items-center">
                        <label class="relative flex items-center p-0 rounded-full cursor-pointer"
                               htmlFor="cog_2">
                            <input id="cog_2" type="checkbox"
                                   class="before:content[''] peer relative h-5 w-5 cursor-pointer appearance-none rounded-md border border-blue-gray-200 transition-all before:absolute before:top-2/4 before:left-2/4 before:block before:h-12 before:w-12 before:-translate-y-2/4 before:-translate-x-2/4 before:rounded-full before:bg-blue-gray-500 before:opacity-0 before:transition-opacity checked:border-gray-900 checked:bg-gray-900 checked:before:bg-gray-900 hover:before:opacity-0"/>
                            <span
                                    class="absolute text-white transition-opacity opacity-0 pointer-events-none top-2/4 left-2/4 -translate-y-2/4 -translate-x-2/4 peer-checked:opacity-100">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-3.5 w-3.5" viewBox="0 0 20 20" fill="currentColor"
                     stroke="currentColor" stroke-width="1">
                  <path fill-rule="evenodd"
                        d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                        clip-rule="evenodd"></path>
                </svg>
              </span>
                        </label>
                    </div>
                </div>
                <h4 class="block font-sans text-base antialiased font-medium leading-relaxed text-blue-gray-900">
                    Связанных
                </h4>
            </label>
        </div>
        <div role="button"
             class="flex items-center w-full p-0 leading-tight transition-all rounded-lg outline-none text-start hover:bg-blue-gray-50 hover:bg-opacity-80 hover:text-blue-gray-900 focus:bg-blue-gray-50 focus:bg-opacity-80 focus:text-blue-gray-900 active:bg-blue-gray-50 active:bg-opacity-80 active:text-blue-gray-900">
            <label htmlFor="cog_3" class="flex items-center w-full px-3 py-2 cursor-pointer">
                <div class="grid mr-3 place-items-center">
                    <div class="inline-flex items-center">
                        <label class="relative flex items-center p-0 rounded-full cursor-pointer"
                               htmlFor="cog_3">
                            <input id="cog_3" type="checkbox"
                                   class="before:content[''] peer relative h-5 w-5 cursor-pointer appearance-none rounded-md border border-blue-gray-200 transition-all before:absolute before:top-2/4 before:left-2/4 before:block before:h-12 before:w-12 before:-translate-y-2/4 before:-translate-x-2/4 before:rounded-full before:bg-blue-gray-500 before:opacity-0 before:transition-opacity checked:border-gray-900 checked:bg-gray-900 checked:before:bg-gray-900 hover:before:opacity-0"/>
                            <span
                                    class="absolute text-white transition-opacity opacity-0 pointer-events-none top-2/4 left-2/4 -translate-y-2/4 -translate-x-2/4 peer-checked:opacity-100">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-3.5 w-3.5" viewBox="0 0 20 20" fill="currentColor"
                     stroke="currentColor" stroke-width="1">
                  <path fill-rule="evenodd"
                        d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                        clip-rule="evenodd"></path>
                </svg>
              </span>
                        </label>
                    </div>
                </div>
                <h4 class="block font-sans text-base antialiased font-medium leading-relaxed text-blue-gray-900">
                    Обновена
                </h4>
            </label>
        </div>
        <div role="button"
             class="flex items-center w-full p-0 leading-tight transition-all rounded-lg outline-none text-start hover:bg-blue-gray-50 hover:bg-opacity-80 hover:text-blue-gray-900 focus:bg-blue-gray-50 focus:bg-opacity-80 focus:text-blue-gray-900 active:bg-blue-gray-50 active:bg-opacity-80 active:text-blue-gray-900">
            <label htmlFor="cog_4" class="flex items-center w-full px-3 py-2 cursor-pointer">
                <div class="grid mr-3 place-items-center">
                    <div class="inline-flex items-center">
                        <label class="relative flex items-center p-0 rounded-full cursor-pointer"
                               htmlFor="cog_4">
                            <input id="cog_4" type="checkbox"
                                   class="before:content[''] peer relative h-5 w-5 cursor-pointer appearance-none rounded-md border border-blue-gray-200 transition-all before:absolute before:top-2/4 before:left-2/4 before:block before:h-12 before:w-12 before:-translate-y-2/4 before:-translate-x-2/4 before:rounded-full before:bg-blue-gray-500 before:opacity-0 before:transition-opacity checked:border-gray-900 checked:bg-gray-900 checked:before:bg-gray-900 hover:before:opacity-0"/>
                            <span
                                    class="absolute text-white transition-opacity opacity-0 pointer-events-none top-2/4 left-2/4 -translate-y-2/4 -translate-x-2/4 peer-checked:opacity-100">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-3.5 w-3.5" viewBox="0 0 20 20" fill="currentColor"
                     stroke="currentColor" stroke-width="1">
                  <path fill-rule="evenodd"
                        d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                        clip-rule="evenodd"></path>
                </svg>
              </span>
                        </label>
                    </div>
                </div>
                <h4 class="block font-sans text-base antialiased font-medium leading-relaxed text-blue-gray-900">
                    Место
                </h4>
            </label>
        </div>
    </div>

    <div class="absolute z-[999] hidden min-w-[180px] max-w-screen-xl overflow-auto rounded-xl border border-blue-gray-50 bg-white p-3 font-sans text-sm font-normal text-blue-gray-500  shadow-lg shadow-blue-gray-500/10 focus:outline-none lg:block"

         role="menu"
         data-popover="filter"
         data-popover-placement="bottom"
    >
        <div role="button"
             class="flex items-center w-full p-0 leading-tight transition-all rounded-lg outline-none text-start hover:bg-blue-gray-50 hover:bg-opacity-80 hover:text-blue-gray-900 focus:bg-blue-gray-50 focus:bg-opacity-80 focus:text-blue-gray-900 active:bg-blue-gray-50 active:bg-opacity-80 active:text-blue-gray-900">
            <label htmlFor="filter_1" class="flex items-center w-full px-3 py-2 cursor-pointer">
                <div class="grid mr-3 place-items-center">
                    <div class="inline-flex items-center">
                        <label class="relative flex items-center p-0 rounded-full cursor-pointer"
                               htmlFor="filter_1">
                            <input id="filter_1" type="checkbox"
                                   class="before:content[''] peer relative h-5 w-5 cursor-pointer appearance-none rounded-md border border-blue-gray-200 transition-all before:absolute before:top-2/4 before:left-2/4 before:block before:h-12 before:w-12 before:-translate-y-2/4 before:-translate-x-2/4 before:rounded-full before:bg-blue-gray-500 before:opacity-0 before:transition-opacity checked:border-gray-900 checked:bg-gray-900 checked:before:bg-gray-900 hover:before:opacity-0"/>
                            <span
                                    class="absolute text-white transition-opacity opacity-0 pointer-events-none top-2/4 left-2/4 -translate-y-2/4 -translate-x-2/4 peer-checked:opacity-100">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-3.5 w-3.5" viewBox="0 0 20 20" fill="currentColor"
                     stroke="currentColor" stroke-width="1">
                  <path fill-rule="evenodd"
                        d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                        clip-rule="evenodd"></path>
                </svg>
              </span>
                        </label>
                    </div>
                </div>
                <h4 class="block font-sans text-base antialiased font-medium leading-relaxed text-blue-gray-900">
                    Цена при продаже
                </h4>
            </label>
        </div>
        <div role="button"
             class="flex items-center w-full p-0 leading-tight transition-all rounded-lg outline-none text-start hover:bg-blue-gray-50 hover:bg-opacity-80 hover:text-blue-gray-900 focus:bg-blue-gray-50 focus:bg-opacity-80 focus:text-blue-gray-900 active:bg-blue-gray-50 active:bg-opacity-80 active:text-blue-gray-900">
            <label htmlFor="filter_2" class="flex items-center w-full px-3 py-2 cursor-pointer">
                <div class="grid mr-3 place-items-center">
                    <div class="inline-flex items-center">
                        <label class="relative flex items-center p-0 rounded-full cursor-pointer"
                               htmlFor="filter_2">
                            <input id="filter_2" type="checkbox"
                                   class="before:content[''] peer relative h-5 w-5 cursor-pointer appearance-none rounded-md border border-blue-gray-200 transition-all before:absolute before:top-2/4 before:left-2/4 before:block before:h-12 before:w-12 before:-translate-y-2/4 before:-translate-x-2/4 before:rounded-full before:bg-blue-gray-500 before:opacity-0 before:transition-opacity checked:border-gray-900 checked:bg-gray-900 checked:before:bg-gray-900 hover:before:opacity-0"/>
                            <span
                                    class="absolute text-white transition-opacity opacity-0 pointer-events-none top-2/4 left-2/4 -translate-y-2/4 -translate-x-2/4 peer-checked:opacity-100">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-3.5 w-3.5" viewBox="0 0 20 20" fill="currentColor"
                     stroke="currentColor" stroke-width="1">
                  <path fill-rule="evenodd"
                        d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                        clip-rule="evenodd"></path>
                </svg>
              </span>
                        </label>
                    </div>
                </div>
                <h4 class="block font-sans text-base antialiased font-medium leading-relaxed text-blue-gray-900">
                    Связанных
                </h4>
            </label>
        </div>
        <div role="button"
             class="flex items-center w-full p-0 leading-tight transition-all rounded-lg outline-none text-start hover:bg-blue-gray-50 hover:bg-opacity-80 hover:text-blue-gray-900 focus:bg-blue-gray-50 focus:bg-opacity-80 focus:text-blue-gray-900 active:bg-blue-gray-50 active:bg-opacity-80 active:text-blue-gray-900">
            <label htmlFor="filter_3" class="flex items-center w-full px-3 py-2 cursor-pointer">
                <div class="grid mr-3 place-items-center">
                    <div class="inline-flex items-center">
                        <label class="relative flex items-center p-0 rounded-full cursor-pointer"
                               htmlFor="filter_3">
                            <input id="filter_3" type="checkbox"
                                   class="before:content[''] peer relative h-5 w-5 cursor-pointer appearance-none rounded-md border border-blue-gray-200 transition-all before:absolute before:top-2/4 before:left-2/4 before:block before:h-12 before:w-12 before:-translate-y-2/4 before:-translate-x-2/4 before:rounded-full before:bg-blue-gray-500 before:opacity-0 before:transition-opacity checked:border-gray-900 checked:bg-gray-900 checked:before:bg-gray-900 hover:before:opacity-0"/>
                            <span
                                    class="absolute text-white transition-opacity opacity-0 pointer-events-none top-2/4 left-2/4 -translate-y-2/4 -translate-x-2/4 peer-checked:opacity-100">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-3.5 w-3.5" viewBox="0 0 20 20" fill="currentColor"
                     stroke="currentColor" stroke-width="1">
                  <path fill-rule="evenodd"
                        d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                        clip-rule="evenodd"></path>
                </svg>
              </span>
                        </label>
                    </div>
                </div>
                <h4 class="block font-sans text-base antialiased font-medium leading-relaxed text-blue-gray-900">
                    Обновена
                </h4>
            </label>
        </div>
        <div role="button"
             class="flex items-center w-full p-0 leading-tight transition-all rounded-lg outline-none text-start hover:bg-blue-gray-50 hover:bg-opacity-80 hover:text-blue-gray-900 focus:bg-blue-gray-50 focus:bg-opacity-80 focus:text-blue-gray-900 active:bg-blue-gray-50 active:bg-opacity-80 active:text-blue-gray-900">
            <label htmlFor="filter_4" class="flex items-center w-full px-3 py-2 cursor-pointer">
                <div class="grid mr-3 place-items-center">
                    <div class="inline-flex items-center">
                        <label class="relative flex items-center p-0 rounded-full cursor-pointer"
                               htmlFor="filter_4">
                            <input id="filter_4" type="checkbox"
                                   class="before:content[''] peer relative h-5 w-5 cursor-pointer appearance-none rounded-md border border-blue-gray-200 transition-all before:absolute before:top-2/4 before:left-2/4 before:block before:h-12 before:w-12 before:-translate-y-2/4 before:-translate-x-2/4 before:rounded-full before:bg-blue-gray-500 before:opacity-0 before:transition-opacity checked:border-gray-900 checked:bg-gray-900 checked:before:bg-gray-900 hover:before:opacity-0"/>
                            <span
                                    class="absolute text-white transition-opacity opacity-0 pointer-events-none top-2/4 left-2/4 -translate-y-2/4 -translate-x-2/4 peer-checked:opacity-100">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-3.5 w-3.5" viewBox="0 0 20 20" fill="currentColor"
                     stroke="currentColor" stroke-width="1">
                  <path fill-rule="evenodd"
                        d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                        clip-rule="evenodd"></path>
                </svg>
              </span>
                        </label>
                    </div>
                </div>
                <h4 class="block font-sans text-base antialiased font-medium leading-relaxed text-blue-gray-900">
                    Место
                </h4>
            </label>
        </div>
    </div>

    <div class="absolute z-[999] hidden min-w-[180px] max-w-screen-xl overflow-auto rounded-xl border border-blue-gray-50 bg-white p-3 font-sans text-sm font-normal text-blue-gray-500  shadow-lg shadow-blue-gray-500/10 focus:outline-none lg:block"

         role="menu"
         data-popover="add"
         data-popover-placement="bottom"
    >
        <div role="button"
             class="flex items-center w-full p-0 leading-tight transition-all rounded-lg outline-none text-start hover:bg-blue-gray-50 hover:bg-opacity-80 hover:text-blue-gray-900 focus:bg-blue-gray-50 focus:bg-opacity-80 focus:text-blue-gray-900 active:bg-blue-gray-50 active:bg-opacity-80 active:text-blue-gray-900">
            <label htmlFor="add_1" class="flex items-center w-full px-3 py-2 cursor-pointer">
                <div class="grid mr-3 place-items-center">
                    <div class="inline-flex items-center">
                        <label class="relative flex items-center p-0 rounded-full cursor-pointer"
                               htmlFor="add_1">
                            <input id="add_1" type="checkbox"
                                   class="before:content[''] peer relative h-5 w-5 cursor-pointer appearance-none rounded-md border border-blue-gray-200 transition-all before:absolute before:top-2/4 before:left-2/4 before:block before:h-12 before:w-12 before:-translate-y-2/4 before:-translate-x-2/4 before:rounded-full before:bg-blue-gray-500 before:opacity-0 before:transition-opacity checked:border-gray-900 checked:bg-gray-900 checked:before:bg-gray-900 hover:before:opacity-0"/>
                            <span
                                    class="absolute text-white transition-opacity opacity-0 pointer-events-none top-2/4 left-2/4 -translate-y-2/4 -translate-x-2/4 peer-checked:opacity-100">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-3.5 w-3.5" viewBox="0 0 20 20" fill="currentColor"
                     stroke="currentColor" stroke-width="1">
                  <path fill-rule="evenodd"
                        d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                        clip-rule="evenodd"></path>
                </svg>
              </span>
                        </label>
                    </div>
                </div>
                <h4 class="block font-sans text-base antialiased font-medium leading-relaxed text-blue-gray-900">
                    Цена при продаже
                </h4>
            </label>
        </div>
        <div role="button"
             class="flex items-center w-full p-0 leading-tight transition-all rounded-lg outline-none text-start hover:bg-blue-gray-50 hover:bg-opacity-80 hover:text-blue-gray-900 focus:bg-blue-gray-50 focus:bg-opacity-80 focus:text-blue-gray-900 active:bg-blue-gray-50 active:bg-opacity-80 active:text-blue-gray-900">
            <label htmlFor="add_2" class="flex items-center w-full px-3 py-2 cursor-pointer">
                <div class="grid mr-3 place-items-center">
                    <div class="inline-flex items-center">
                        <label class="relative flex items-center p-0 rounded-full cursor-pointer"
                               htmlFor="add_2">
                            <input id="add_2" type="checkbox"
                                   class="before:content[''] peer relative h-5 w-5 cursor-pointer appearance-none rounded-md border border-blue-gray-200 transition-all before:absolute before:top-2/4 before:left-2/4 before:block before:h-12 before:w-12 before:-translate-y-2/4 before:-translate-x-2/4 before:rounded-full before:bg-blue-gray-500 before:opacity-0 before:transition-opacity checked:border-gray-900 checked:bg-gray-900 checked:before:bg-gray-900 hover:before:opacity-0"/>
                            <span
                                    class="absolute text-white transition-opacity opacity-0 pointer-events-none top-2/4 left-2/4 -translate-y-2/4 -translate-x-2/4 peer-checked:opacity-100">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-3.5 w-3.5" viewBox="0 0 20 20" fill="currentColor"
                     stroke="currentColor" stroke-width="1">
                  <path fill-rule="evenodd"
                        d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                        clip-rule="evenodd"></path>
                </svg>
              </span>
                        </label>
                    </div>
                </div>
                <h4 class="block font-sans text-base antialiased font-medium leading-relaxed text-blue-gray-900">
                    Связанных
                </h4>
            </label>
        </div>
        <div role="button"
             class="flex items-center w-full p-0 leading-tight transition-all rounded-lg outline-none text-start hover:bg-blue-gray-50 hover:bg-opacity-80 hover:text-blue-gray-900 focus:bg-blue-gray-50 focus:bg-opacity-80 focus:text-blue-gray-900 active:bg-blue-gray-50 active:bg-opacity-80 active:text-blue-gray-900">
            <label htmlFor="add_3" class="flex items-center w-full px-3 py-2 cursor-pointer">
                <div class="grid mr-3 place-items-center">
                    <div class="inline-flex items-center">
                        <label class="relative flex items-center p-0 rounded-full cursor-pointer"
                               htmlFor="add_3">
                            <input id="add_3" type="checkbox"
                                   class="before:content[''] peer relative h-5 w-5 cursor-pointer appearance-none rounded-md border border-blue-gray-200 transition-all before:absolute before:top-2/4 before:left-2/4 before:block before:h-12 before:w-12 before:-translate-y-2/4 before:-translate-x-2/4 before:rounded-full before:bg-blue-gray-500 before:opacity-0 before:transition-opacity checked:border-gray-900 checked:bg-gray-900 checked:before:bg-gray-900 hover:before:opacity-0"/>
                            <span
                                    class="absolute text-white transition-opacity opacity-0 pointer-events-none top-2/4 left-2/4 -translate-y-2/4 -translate-x-2/4 peer-checked:opacity-100">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-3.5 w-3.5" viewBox="0 0 20 20" fill="currentColor"
                     stroke="currentColor" stroke-width="1">
                  <path fill-rule="evenodd"
                        d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                        clip-rule="evenodd"></path>
                </svg>
              </span>
                        </label>
                    </div>
                </div>
                <h4 class="block font-sans text-base antialiased font-medium leading-relaxed text-blue-gray-900">
                    Обновена
                </h4>
            </label>
        </div>
        <div role="button"
             class="flex items-center w-full p-0 leading-tight transition-all rounded-lg outline-none text-start hover:bg-blue-gray-50 hover:bg-opacity-80 hover:text-blue-gray-900 focus:bg-blue-gray-50 focus:bg-opacity-80 focus:text-blue-gray-900 active:bg-blue-gray-50 active:bg-opacity-80 active:text-blue-gray-900">
            <label htmlFor="add_4" class="flex items-center w-full px-3 py-2 cursor-pointer">
                <div class="grid mr-3 place-items-center">
                    <div class="inline-flex items-center">
                        <label class="relative flex items-center p-0 rounded-full cursor-pointer"
                               htmlFor="add_4">
                            <input id="add_4" type="checkbox"
                                   class="before:content[''] peer relative h-5 w-5 cursor-pointer appearance-none rounded-md border border-blue-gray-200 transition-all before:absolute before:top-2/4 before:left-2/4 before:block before:h-12 before:w-12 before:-translate-y-2/4 before:-translate-x-2/4 before:rounded-full before:bg-blue-gray-500 before:opacity-0 before:transition-opacity checked:border-gray-900 checked:bg-gray-900 checked:before:bg-gray-900 hover:before:opacity-0"/>
                            <span
                                    class="absolute text-white transition-opacity opacity-0 pointer-events-none top-2/4 left-2/4 -translate-y-2/4 -translate-x-2/4 peer-checked:opacity-100">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-3.5 w-3.5" viewBox="0 0 20 20" fill="currentColor"
                     stroke="currentColor" stroke-width="1">
                  <path fill-rule="evenodd"
                        d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                        clip-rule="evenodd"></path>
                </svg>
              </span>
                        </label>
                    </div>
                </div>
                <h4 class="block font-sans text-base antialiased font-medium leading-relaxed text-blue-gray-900">
                    Место
                </h4>
            </label>
        </div>
    </div>


</header>