<header class="sticky top-0 left-0 z-40 -mx-2">
  <nav
    class="px-2 block w-full rounded-xlbg-white bg-opacity-80 py-3 text-white backdrop-blur-2xl backdrop-saturate-200 border-b border-blue-gray-50"
  >
    <div class="text-blue-gray-900 flex items-center justify-between">
      <h2 class="text-2xl font-normal">Запчасти</h2>
      <div class="hidden lg:block">
        <ul
          class="my-2 flex flex-col gap-2 lg:mb-0 lg:mt-0 lg:flex-row lg:items-center lg:gap-6"
        >
          <li
            data-popover-target="cog"
            class="text-blue-gray-900 relative block p-1 font-sans text-md font-medium leading-normal antialiased"
          >
            <button
              class="bg-blue-gray-50/50 group flex w-full items-center gap-2 rounded-lg p-3 py-2 pr-4 text-start font-medium leading-tight transition-all hover:bg-primary hover:text-light-gray focus:bg-primary focus:text-light-gray"
            >
              запчасти
            </button>
          </li>

          <li>
            <div
              id="preheader_tabs"
              data-tabs
              class="bg-blue-gray-50/60 relative flex list-none flex-wrap gap-2 rounded-lg p-1"
            >
              <button
                class="transition-all z-30 flex-auto rounded-lg p-2 text-center tab-active"
              >
                <h4
                  class="text-slate-700 text-base bg-inherit z-30 mb-0 flex w-full cursor-pointer items-center justify-center rounded-lg border-0 px-0 transition-all ease-in-out duration-200"
                >
                  <span class="">Все </span>
                </h4>
              </button>
              <button
                class="z-30 flex-auto rounded-lg px-2 text-center transition-all"
              >
                <h4
                  class="text-slate-700 text-base bg-inherit z-30 mb-0 flex w-full cursor-pointer items-center justify-center rounded-lg border-0 px-0 transition-all ease-in-out duration-200"
                >
                  <span class="">На складе</span>
                </h4>
              </button>
              <button
                class="transition-all z-30 flex-auto rounded-lg p-2 text-center"
              >
                <h4
                  class="text-slate-700 text-base bg-inherit z-30 mb-0 flex w-full cursor-pointer items-center justify-center rounded-lg border-0 px-0 transition-all ease-in-out duration-200"
                >
                  <span class="">Под заказ</span>
                </h4>
              </button>
            </div>
          </li>

          <li
            data-popover-target="filter"
            class="text-blue-gray-900 relative block p-1 font-sans text-lg font-medium leading-normal antialiased"
          >
            <button
              class="bg-blue-gray-50/50 flex w-full items-center gap-2 rounded-lg p-3 py-2 pr-4 text-start font-medium leading-tight transition-all hover:bg-primary hover:text-light-gray focus:bg-primary focus:text-light-gray"
            >
              <h4>Фильтр</h4>
            </button>
          </li>

          <li
            data-popover-target="add"
            class="text-blue-gray-900 relative block p-1 font-sans text-lg font-medium leading-normal antialiased"
          >
            <button
              class="bg-blue-gray-50/50 flex w-full items-center gap-2 rounded-lg p-3 py-2 pr-4 text-start font-medium leading-tight transition-all hover:bg-primary hover:text-light-gray focus:bg-primary focus:text-light-gray"
            >
              Добавить
            </button>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div
    class="border-blue-gray-50 text-blue-gray-500 shadow-blue-gray-500/10 absolute z-[999] hidden min-w-[180px] max-w-screen-xl overflow-auto rounded-xl border bg-white p-3 font-sans text-sm font-normal shadow-lg focus:outline-none lg:block"
    role="menu"
    data-popover="cog"
    data-popover-placement="bottom"
  >
    <div
      role="button"
      class="hover:bg-blue-gray-50 hover:text-blue-gray-900 focus:bg-blue-gray-50 focus:text-blue-gray-900 active:bg-blue-gray-50 active:text-blue-gray-900 flex w-full items-center rounded-lg p-0 text-start leading-tight outline-none transition-all hover:bg-opacity-80 focus:bg-opacity-80 active:bg-opacity-80"
    >
      <label
        htmlFor="cog_1"
        class="flex w-full cursor-pointer items-center px-3 py-2"
      >
        <div class="mr-3 grid place-items-center">
          <div class="inline-flex items-center">
            <label
              class="relative flex cursor-pointer items-center rounded-full p-0"
              htmlFor="cog_1"
            >
              <input
                id="cog_1"
                type="checkbox"
                class="before:content[''] border-blue-gray-200 before:bg-blue-gray-500 checked:border-gray-900 checked:bg-gray-900 checked:before:bg-gray-900 peer relative h-5 w-5 cursor-pointer appearance-none rounded-md border transition-all before:absolute before:left-2/4 before:top-2/4 before:block before:h-12 before:w-12 before:-translate-x-2/4 before:-translate-y-2/4 before:rounded-full before:opacity-0 before:transition-opacity hover:before:opacity-0"
              />
              <span
                class="pointer-events-none absolute left-2/4 top-2/4 -translate-x-2/4 -translate-y-2/4 text-white opacity-0 transition-opacity peer-checked:opacity-100"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-3.5 w-3.5"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  stroke="currentColor"
                  stroke-width="1"
                >
                  <path
                    fill-rule="evenodd"
                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                    clip-rule="evenodd"
                  ></path>
                </svg>
              </span>
            </label>
          </div>
        </div>
        <h4
          class="text-base text-blue-gray-900 block font-sans font-medium leading-relaxed antialiased"
        >
          Цена при продаже
        </h4>
      </label>
    </div>
    <div
      role="button"
      class="hover:bg-blue-gray-50 hover:text-blue-gray-900 focus:bg-blue-gray-50 focus:text-blue-gray-900 active:bg-blue-gray-50 active:text-blue-gray-900 flex w-full items-center rounded-lg p-0 text-start leading-tight outline-none transition-all hover:bg-opacity-80 focus:bg-opacity-80 active:bg-opacity-80"
    >
      <label
        htmlFor="cog_2"
        class="flex w-full cursor-pointer items-center px-3 py-2"
      >
        <div class="mr-3 grid place-items-center">
          <div class="inline-flex items-center">
            <label
              class="relative flex cursor-pointer items-center rounded-full p-0"
              htmlFor="cog_2"
            >
              <input
                id="cog_2"
                type="checkbox"
                class="before:content[''] border-blue-gray-200 before:bg-blue-gray-500 checked:border-gray-900 checked:bg-gray-900 checked:before:bg-gray-900 peer relative h-5 w-5 cursor-pointer appearance-none rounded-md border transition-all before:absolute before:left-2/4 before:top-2/4 before:block before:h-12 before:w-12 before:-translate-x-2/4 before:-translate-y-2/4 before:rounded-full before:opacity-0 before:transition-opacity hover:before:opacity-0"
              />
              <span
                class="pointer-events-none absolute left-2/4 top-2/4 -translate-x-2/4 -translate-y-2/4 text-white opacity-0 transition-opacity peer-checked:opacity-100"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-3.5 w-3.5"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  stroke="currentColor"
                  stroke-width="1"
                >
                  <path
                    fill-rule="evenodd"
                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                    clip-rule="evenodd"
                  ></path>
                </svg>
              </span>
            </label>
          </div>
        </div>
        <h4
          class="text-base text-blue-gray-900 block font-sans font-medium leading-relaxed antialiased"
        >
          Связанных
        </h4>
      </label>
    </div>
    <div
      role="button"
      class="hover:bg-blue-gray-50 hover:text-blue-gray-900 focus:bg-blue-gray-50 focus:text-blue-gray-900 active:bg-blue-gray-50 active:text-blue-gray-900 flex w-full items-center rounded-lg p-0 text-start leading-tight outline-none transition-all hover:bg-opacity-80 focus:bg-opacity-80 active:bg-opacity-80"
    >
      <label
        htmlFor="cog_3"
        class="flex w-full cursor-pointer items-center px-3 py-2"
      >
        <div class="mr-3 grid place-items-center">
          <div class="inline-flex items-center">
            <label
              class="relative flex cursor-pointer items-center rounded-full p-0"
              htmlFor="cog_3"
            >
              <input
                id="cog_3"
                type="checkbox"
                class="before:content[''] border-blue-gray-200 before:bg-blue-gray-500 checked:border-gray-900 checked:bg-gray-900 checked:before:bg-gray-900 peer relative h-5 w-5 cursor-pointer appearance-none rounded-md border transition-all before:absolute before:left-2/4 before:top-2/4 before:block before:h-12 before:w-12 before:-translate-x-2/4 before:-translate-y-2/4 before:rounded-full before:opacity-0 before:transition-opacity hover:before:opacity-0"
              />
              <span
                class="pointer-events-none absolute left-2/4 top-2/4 -translate-x-2/4 -translate-y-2/4 text-white opacity-0 transition-opacity peer-checked:opacity-100"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-3.5 w-3.5"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  stroke="currentColor"
                  stroke-width="1"
                >
                  <path
                    fill-rule="evenodd"
                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                    clip-rule="evenodd"
                  ></path>
                </svg>
              </span>
            </label>
          </div>
        </div>
        <h4
          class="text-base text-blue-gray-900 block font-sans font-medium leading-relaxed antialiased"
        >
          Обновена
        </h4>
      </label>
    </div>
    <div
      role="button"
      class="hover:bg-blue-gray-50 hover:text-blue-gray-900 focus:bg-blue-gray-50 focus:text-blue-gray-900 active:bg-blue-gray-50 active:text-blue-gray-900 flex w-full items-center rounded-lg p-0 text-start leading-tight outline-none transition-all hover:bg-opacity-80 focus:bg-opacity-80 active:bg-opacity-80"
    >
      <label
        htmlFor="cog_4"
        class="flex w-full cursor-pointer items-center px-3 py-2"
      >
        <div class="mr-3 grid place-items-center">
          <div class="inline-flex items-center">
            <label
              class="relative flex cursor-pointer items-center rounded-full p-0"
              htmlFor="cog_4"
            >
              <input
                id="cog_4"
                type="checkbox"
                class="before:content[''] border-blue-gray-200 before:bg-blue-gray-500 checked:border-gray-900 checked:bg-gray-900 checked:before:bg-gray-900 peer relative h-5 w-5 cursor-pointer appearance-none rounded-md border transition-all before:absolute before:left-2/4 before:top-2/4 before:block before:h-12 before:w-12 before:-translate-x-2/4 before:-translate-y-2/4 before:rounded-full before:opacity-0 before:transition-opacity hover:before:opacity-0"
              />
              <span
                class="pointer-events-none absolute left-2/4 top-2/4 -translate-x-2/4 -translate-y-2/4 text-white opacity-0 transition-opacity peer-checked:opacity-100"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-3.5 w-3.5"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  stroke="currentColor"
                  stroke-width="1"
                >
                  <path
                    fill-rule="evenodd"
                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                    clip-rule="evenodd"
                  ></path>
                </svg>
              </span>
            </label>
          </div>
        </div>
        <h4
          class="text-base text-blue-gray-900 block font-sans font-medium leading-relaxed antialiased"
        >
          Место
        </h4>
      </label>
    </div>
  </div>

  <div
    class="border-blue-gray-50 text-blue-gray-500 shadow-blue-gray-500/10 absolute z-[999] hidden min-w-[180px] max-w-screen-xl overflow-auto rounded-xl border bg-white p-3 font-sans text-sm font-normal shadow-lg focus:outline-none lg:block"
    role="menu"
    data-popover="filter"
    data-popover-placement="bottom"
  >
    <div
      role="button"
      class="hover:bg-blue-gray-50 hover:text-blue-gray-900 focus:bg-blue-gray-50 focus:text-blue-gray-900 active:bg-blue-gray-50 active:text-blue-gray-900 flex w-full items-center rounded-lg p-0 text-start leading-tight outline-none transition-all hover:bg-opacity-80 focus:bg-opacity-80 active:bg-opacity-80"
    >
      <label
        htmlFor="filter_1"
        class="flex w-full cursor-pointer items-center px-3 py-2"
      >
        <div class="mr-3 grid place-items-center">
          <div class="inline-flex items-center">
            <label
              class="relative flex cursor-pointer items-center rounded-full p-0"
              htmlFor="filter_1"
            >
              <input
                id="filter_1"
                type="checkbox"
                class="before:content[''] border-blue-gray-200 before:bg-blue-gray-500 checked:border-gray-900 checked:bg-gray-900 checked:before:bg-gray-900 peer relative h-5 w-5 cursor-pointer appearance-none rounded-md border transition-all before:absolute before:left-2/4 before:top-2/4 before:block before:h-12 before:w-12 before:-translate-x-2/4 before:-translate-y-2/4 before:rounded-full before:opacity-0 before:transition-opacity hover:before:opacity-0"
              />
              <span
                class="pointer-events-none absolute left-2/4 top-2/4 -translate-x-2/4 -translate-y-2/4 text-white opacity-0 transition-opacity peer-checked:opacity-100"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-3.5 w-3.5"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  stroke="currentColor"
                  stroke-width="1"
                >
                  <path
                    fill-rule="evenodd"
                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                    clip-rule="evenodd"
                  ></path>
                </svg>
              </span>
            </label>
          </div>
        </div>
        <h4
          class="text-base text-blue-gray-900 block font-sans font-medium leading-relaxed antialiased"
        >
          Цена при продаже
        </h4>
      </label>
    </div>
    <div
      role="button"
      class="hover:bg-blue-gray-50 hover:text-blue-gray-900 focus:bg-blue-gray-50 focus:text-blue-gray-900 active:bg-blue-gray-50 active:text-blue-gray-900 flex w-full items-center rounded-lg p-0 text-start leading-tight outline-none transition-all hover:bg-opacity-80 focus:bg-opacity-80 active:bg-opacity-80"
    >
      <label
        htmlFor="filter_2"
        class="flex w-full cursor-pointer items-center px-3 py-2"
      >
        <div class="mr-3 grid place-items-center">
          <div class="inline-flex items-center">
            <label
              class="relative flex cursor-pointer items-center rounded-full p-0"
              htmlFor="filter_2"
            >
              <input
                id="filter_2"
                type="checkbox"
                class="before:content[''] border-blue-gray-200 before:bg-blue-gray-500 checked:border-gray-900 checked:bg-gray-900 checked:before:bg-gray-900 peer relative h-5 w-5 cursor-pointer appearance-none rounded-md border transition-all before:absolute before:left-2/4 before:top-2/4 before:block before:h-12 before:w-12 before:-translate-x-2/4 before:-translate-y-2/4 before:rounded-full before:opacity-0 before:transition-opacity hover:before:opacity-0"
              />
              <span
                class="pointer-events-none absolute left-2/4 top-2/4 -translate-x-2/4 -translate-y-2/4 text-white opacity-0 transition-opacity peer-checked:opacity-100"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-3.5 w-3.5"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  stroke="currentColor"
                  stroke-width="1"
                >
                  <path
                    fill-rule="evenodd"
                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                    clip-rule="evenodd"
                  ></path>
                </svg>
              </span>
            </label>
          </div>
        </div>
        <h4
          class="text-base text-blue-gray-900 block font-sans font-medium leading-relaxed antialiased"
        >
          Связанных
        </h4>
      </label>
    </div>
    <div
      role="button"
      class="hover:bg-blue-gray-50 hover:text-blue-gray-900 focus:bg-blue-gray-50 focus:text-blue-gray-900 active:bg-blue-gray-50 active:text-blue-gray-900 flex w-full items-center rounded-lg p-0 text-start leading-tight outline-none transition-all hover:bg-opacity-80 focus:bg-opacity-80 active:bg-opacity-80"
    >
      <label
        htmlFor="filter_3"
        class="flex w-full cursor-pointer items-center px-3 py-2"
      >
        <div class="mr-3 grid place-items-center">
          <div class="inline-flex items-center">
            <label
              class="relative flex cursor-pointer items-center rounded-full p-0"
              htmlFor="filter_3"
            >
              <input
                id="filter_3"
                type="checkbox"
                class="before:content[''] border-blue-gray-200 before:bg-blue-gray-500 checked:border-gray-900 checked:bg-gray-900 checked:before:bg-gray-900 peer relative h-5 w-5 cursor-pointer appearance-none rounded-md border transition-all before:absolute before:left-2/4 before:top-2/4 before:block before:h-12 before:w-12 before:-translate-x-2/4 before:-translate-y-2/4 before:rounded-full before:opacity-0 before:transition-opacity hover:before:opacity-0"
              />
              <span
                class="pointer-events-none absolute left-2/4 top-2/4 -translate-x-2/4 -translate-y-2/4 text-white opacity-0 transition-opacity peer-checked:opacity-100"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-3.5 w-3.5"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  stroke="currentColor"
                  stroke-width="1"
                >
                  <path
                    fill-rule="evenodd"
                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                    clip-rule="evenodd"
                  ></path>
                </svg>
              </span>
            </label>
          </div>
        </div>
        <h4
          class="text-base text-blue-gray-900 block font-sans font-medium leading-relaxed antialiased"
        >
          Обновена
        </h4>
      </label>
    </div>
    <div
      role="button"
      class="hover:bg-blue-gray-50 hover:text-blue-gray-900 focus:bg-blue-gray-50 focus:text-blue-gray-900 active:bg-blue-gray-50 active:text-blue-gray-900 flex w-full items-center rounded-lg p-0 text-start leading-tight outline-none transition-all hover:bg-opacity-80 focus:bg-opacity-80 active:bg-opacity-80"
    >
      <label
        htmlFor="filter_4"
        class="flex w-full cursor-pointer items-center px-3 py-2"
      >
        <div class="mr-3 grid place-items-center">
          <div class="inline-flex items-center">
            <label
              class="relative flex cursor-pointer items-center rounded-full p-0"
              htmlFor="filter_4"
            >
              <input
                id="filter_4"
                type="checkbox"
                class="before:content[''] border-blue-gray-200 before:bg-blue-gray-500 checked:border-gray-900 checked:bg-gray-900 checked:before:bg-gray-900 peer relative h-5 w-5 cursor-pointer appearance-none rounded-md border transition-all before:absolute before:left-2/4 before:top-2/4 before:block before:h-12 before:w-12 before:-translate-x-2/4 before:-translate-y-2/4 before:rounded-full before:opacity-0 before:transition-opacity hover:before:opacity-0"
              />
              <span
                class="pointer-events-none absolute left-2/4 top-2/4 -translate-x-2/4 -translate-y-2/4 text-white opacity-0 transition-opacity peer-checked:opacity-100"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-3.5 w-3.5"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  stroke="currentColor"
                  stroke-width="1"
                >
                  <path
                    fill-rule="evenodd"
                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                    clip-rule="evenodd"
                  ></path>
                </svg>
              </span>
            </label>
          </div>
        </div>
        <h4
          class="text-base text-blue-gray-900 block font-sans font-medium leading-relaxed antialiased"
        >
          Место
        </h4>
      </label>
    </div>
  </div>

  <div
    class="border-blue-gray-50 text-blue-gray-500 shadow-blue-gray-500/10 absolute z-[999] hidden min-w-[180px] max-w-screen-xl overflow-auto rounded-xl border bg-white p-3 font-sans text-sm font-normal shadow-lg focus:outline-none lg:block"
    role="menu"
    data-popover="add"
    data-popover-placement="bottom"
  >
    <div
      role="button"
      class="hover:bg-blue-gray-50 hover:text-blue-gray-900 focus:bg-blue-gray-50 focus:text-blue-gray-900 active:bg-blue-gray-50 active:text-blue-gray-900 flex w-full items-center rounded-lg p-0 text-start leading-tight outline-none transition-all hover:bg-opacity-80 focus:bg-opacity-80 active:bg-opacity-80"
    >
      <label
        htmlFor="add_1"
        class="flex w-full cursor-pointer items-center px-3 py-2"
      >
        <div class="mr-3 grid place-items-center">
          <div class="inline-flex items-center">
            <label
              class="relative flex cursor-pointer items-center rounded-full p-0"
              htmlFor="add_1"
            >
              <input
                id="add_1"
                type="checkbox"
                class="before:content[''] border-blue-gray-200 before:bg-blue-gray-500 checked:border-gray-900 checked:bg-gray-900 checked:before:bg-gray-900 peer relative h-5 w-5 cursor-pointer appearance-none rounded-md border transition-all before:absolute before:left-2/4 before:top-2/4 before:block before:h-12 before:w-12 before:-translate-x-2/4 before:-translate-y-2/4 before:rounded-full before:opacity-0 before:transition-opacity hover:before:opacity-0"
              />
              <span
                class="pointer-events-none absolute left-2/4 top-2/4 -translate-x-2/4 -translate-y-2/4 text-white opacity-0 transition-opacity peer-checked:opacity-100"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-3.5 w-3.5"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  stroke="currentColor"
                  stroke-width="1"
                >
                  <path
                    fill-rule="evenodd"
                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                    clip-rule="evenodd"
                  ></path>
                </svg>
              </span>
            </label>
          </div>
        </div>
        <h4
          class="text-base text-blue-gray-900 block font-sans font-medium leading-relaxed antialiased"
        >
          Цена при продаже
        </h4>
      </label>
    </div>
    <div
      role="button"
      class="hover:bg-blue-gray-50 hover:text-blue-gray-900 focus:bg-blue-gray-50 focus:text-blue-gray-900 active:bg-blue-gray-50 active:text-blue-gray-900 flex w-full items-center rounded-lg p-0 text-start leading-tight outline-none transition-all hover:bg-opacity-80 focus:bg-opacity-80 active:bg-opacity-80"
    >
      <label
        htmlFor="add_2"
        class="flex w-full cursor-pointer items-center px-3 py-2"
      >
        <div class="mr-3 grid place-items-center">
          <div class="inline-flex items-center">
            <label
              class="relative flex cursor-pointer items-center rounded-full p-0"
              htmlFor="add_2"
            >
              <input
                id="add_2"
                type="checkbox"
                class="before:content[''] border-blue-gray-200 before:bg-blue-gray-500 checked:border-gray-900 checked:bg-gray-900 checked:before:bg-gray-900 peer relative h-5 w-5 cursor-pointer appearance-none rounded-md border transition-all before:absolute before:left-2/4 before:top-2/4 before:block before:h-12 before:w-12 before:-translate-x-2/4 before:-translate-y-2/4 before:rounded-full before:opacity-0 before:transition-opacity hover:before:opacity-0"
              />
              <span
                class="pointer-events-none absolute left-2/4 top-2/4 -translate-x-2/4 -translate-y-2/4 text-white opacity-0 transition-opacity peer-checked:opacity-100"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-3.5 w-3.5"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  stroke="currentColor"
                  stroke-width="1"
                >
                  <path
                    fill-rule="evenodd"
                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                    clip-rule="evenodd"
                  ></path>
                </svg>
              </span>
            </label>
          </div>
        </div>
        <h4
          class="text-base text-blue-gray-900 block font-sans font-medium leading-relaxed antialiased"
        >
          Связанных
        </h4>
      </label>
    </div>
    <div
      role="button"
      class="hover:bg-blue-gray-50 hover:text-blue-gray-900 focus:bg-blue-gray-50 focus:text-blue-gray-900 active:bg-blue-gray-50 active:text-blue-gray-900 flex w-full items-center rounded-lg p-0 text-start leading-tight outline-none transition-all hover:bg-opacity-80 focus:bg-opacity-80 active:bg-opacity-80"
    >
      <label
        htmlFor="add_3"
        class="flex w-full cursor-pointer items-center px-3 py-2"
      >
        <div class="mr-3 grid place-items-center">
          <div class="inline-flex items-center">
            <label
              class="relative flex cursor-pointer items-center rounded-full p-0"
              htmlFor="add_3"
            >
              <input
                id="add_3"
                type="checkbox"
                class="before:content[''] border-blue-gray-200 before:bg-blue-gray-500 checked:border-gray-900 checked:bg-gray-900 checked:before:bg-gray-900 peer relative h-5 w-5 cursor-pointer appearance-none rounded-md border transition-all before:absolute before:left-2/4 before:top-2/4 before:block before:h-12 before:w-12 before:-translate-x-2/4 before:-translate-y-2/4 before:rounded-full before:opacity-0 before:transition-opacity hover:before:opacity-0"
              />
              <span
                class="pointer-events-none absolute left-2/4 top-2/4 -translate-x-2/4 -translate-y-2/4 text-white opacity-0 transition-opacity peer-checked:opacity-100"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-3.5 w-3.5"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  stroke="currentColor"
                  stroke-width="1"
                >
                  <path
                    fill-rule="evenodd"
                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                    clip-rule="evenodd"
                  ></path>
                </svg>
              </span>
            </label>
          </div>
        </div>
        <h4
          class="text-base text-blue-gray-900 block font-sans font-medium leading-relaxed antialiased"
        >
          Обновена
        </h4>
      </label>
    </div>
    <div
      role="button"
      class="hover:bg-blue-gray-50 hover:text-blue-gray-900 focus:bg-blue-gray-50 focus:text-blue-gray-900 active:bg-blue-gray-50 active:text-blue-gray-900 flex w-full items-center rounded-lg p-0 text-start leading-tight outline-none transition-all hover:bg-opacity-80 focus:bg-opacity-80 active:bg-opacity-80"
    >
      <label
        htmlFor="add_4"
        class="flex w-full cursor-pointer items-center px-3 py-2"
      >
        <div class="mr-3 grid place-items-center">
          <div class="inline-flex items-center">
            <label
              class="relative flex cursor-pointer items-center rounded-full p-0"
              htmlFor="add_4"
            >
              <input
                id="add_4"
                type="checkbox"
                class="before:content[''] border-blue-gray-200 before:bg-blue-gray-500 checked:border-gray-900 checked:bg-gray-900 checked:before:bg-gray-900 peer relative h-5 w-5 cursor-pointer appearance-none rounded-md border transition-all before:absolute before:left-2/4 before:top-2/4 before:block before:h-12 before:w-12 before:-translate-x-2/4 before:-translate-y-2/4 before:rounded-full before:opacity-0 before:transition-opacity hover:before:opacity-0"
              />
              <span
                class="pointer-events-none absolute left-2/4 top-2/4 -translate-x-2/4 -translate-y-2/4 text-white opacity-0 transition-opacity peer-checked:opacity-100"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-3.5 w-3.5"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  stroke="currentColor"
                  stroke-width="1"
                >
                  <path
                    fill-rule="evenodd"
                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                    clip-rule="evenodd"
                  ></path>
                </svg>
              </span>
            </label>
          </div>
        </div>
        <h4
          class="text-base text-blue-gray-900 block font-sans font-medium leading-relaxed antialiased"
        >
          Место
        </h4>
      </label>
    </div>
  </div>
</header>
