<!DOCTYPE html>
<html lang="ru">
  {% include 'components/partials/head.njk' %}
  <body>
    <div class="grid h-full grid-cols-[auto_1fr] gap-2">
       {% include 'components/partials/sidebar.njk' %}
      <div class="relative w-[calc(100vw-288px)] px-4">
        {% include 'components/partials/header.njk' %}

         {% block content %}{% endblock %}
      </div>
    </div>

    <script
      src="https://unpkg.com/@material-tailwind/html@latest/scripts/popover.js"
      type="module"
    ></script>
    <script
      src="https://unpkg.com/@material-tailwind/html@latest/scripts/tabs.js"
      type="module"
    ></script>
    <script src="./js/scripts.js"></script>
  </body>
</html>
