<main class="mb-8 mt-4">
  <div
    class="relative flex h-full w-full flex-col rounded-xl bg-white bg-clip-border text-gray-700 shadow-md"
  >
    <div class="overflow-x-auto rounded-xl">
      <table class="w-full min-w-[1000px] table-auto overflow-x-auto text-left">
        <thead>
          <tr>
            <th
              class="border-blue-gray-100 bg-blue-gray-50/50 hover:bg-blue-gray-50 cursor-pointer border-b p-2 transition-colors"
            >
              <div class="inline-flex items-center">
                <label
                  class="relative flex cursor-pointer items-center rounded-full p-0"
                  htmlFor="cog_1"
                >
                  <input
                    id="cog_1"
                    type="checkbox"
                    class="before:content[''] border-blue-gray-200 before:bg-blue-gray-500 peer relative h-5 w-5 cursor-pointer appearance-none rounded-md border transition-all before:absolute before:left-2/4 before:top-2/4 before:block before:h-12 before:w-12 before:-translate-x-2/4 before:-translate-y-2/4 before:rounded-full before:opacity-0 before:transition-opacity checked:border-gray-900 checked:bg-gray-900 checked:before:bg-gray-900 hover:before:opacity-0"
                  />
                  <span
                    class="pointer-events-none absolute left-2/4 top-2/4 -translate-x-2/4 -translate-y-2/4 text-white opacity-0 transition-opacity peer-checked:opacity-100"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="h-3.5 w-3.5"
                      viewBox="0 0 20 20"
                      fill="currentColor"
                      stroke="currentColor"
                      stroke-width="1"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                        clip-rule="evenodd"
                      ></path>
                    </svg>
                  </span>
                </label>
              </div>
            </th>
            <th
              class="border-blue-gray-100 bg-blue-gray-50/50 hover:bg-blue-gray-50 cursor-pointer border-b p-3 transition-colors"
            >
              <p
                class="text-blue-gray-900 flex items-center justify-between gap-2 font-sans text-md font-normal leading-none antialiased opacity-70"
              >
                Артикул
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  aria-hidden="true"
                  class="h-4 w-4"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M8.25 15L12 18.75 15.75 15m-7.5-6L12 5.25 15.75 9"
                  ></path>
                </svg>
              </p>
            </th>
            <th
              class="border-blue-gray-100 bg-blue-gray-50/50 hover:bg-blue-gray-50 cursor-pointer border-b p-3 transition-colors"
            >
              <p
                class="text-blue-gray-900 flex items-center justify-between gap-2 font-sans text-md font-normal leading-none antialiased opacity-70"
              >
                Название
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  aria-hidden="true"
                  class="h-4 w-4"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M8.25 15L12 18.75 15.75 15m-7.5-6L12 5.25 15.75 9"
                  ></path>
                </svg>
              </p>
            </th>
            <th
              class="border-blue-gray-100 bg-blue-gray-50/50 hover:bg-blue-gray-50 cursor-pointer border-b p-3 transition-colors"
            >
              <p
                class="text-blue-gray-900 flex items-center justify-between gap-2 font-sans text-md font-normal leading-none antialiased opacity-70"
              >
                Узел
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  aria-hidden="true"
                  class="h-4 w-4"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M8.25 15L12 18.75 15.75 15m-7.5-6L12 5.25 15.75 9"
                  ></path>
                </svg>
              </p>
            </th>
            <th
              class="border-blue-gray-100 bg-blue-gray-50/50 hover:bg-blue-gray-50 cursor-pointer border-b p-3 transition-colors"
            >
              <p
                class="text-blue-gray-900 flex items-center justify-between gap-2 font-sans text-md font-normal leading-none antialiased opacity-70"
              >
                ОЕМ
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  aria-hidden="true"
                  class="h-4 w-4"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M8.25 15L12 18.75 15.75 15m-7.5-6L12 5.25 15.75 9"
                  ></path>
                </svg>
              </p>
            </th>
            <th
              class="border-blue-gray-100 bg-blue-gray-50/50 hover:bg-blue-gray-50 cursor-pointer border-b p-3 transition-colors"
            >
              <p
                class="text-blue-gray-900 flex items-center justify-between gap-2 font-sans text-md font-normal leading-none antialiased opacity-70"
              >
                применимость
              </p>
            </th>
            <th
              class="border-blue-gray-100 bg-blue-gray-50/50 hover:bg-blue-gray-50 cursor-pointer border-b p-3 transition-colors"
            >
              <p
                class="text-blue-gray-900 flex items-center justify-between gap-2 font-sans text-md font-normal leading-none antialiased opacity-70"
              >
                Цена
              </p>
            </th>
            <th
              class="border-blue-gray-100 bg-blue-gray-50/50 hover:bg-blue-gray-50 cursor-pointer border-b p-3 transition-colors"
            >
              <p
                class="text-blue-gray-900 flex items-center justify-between gap-2 font-sans text-md font-normal leading-none antialiased opacity-70"
              >
                При продаже
                <br />
                Скидка / цена
              </p>
            </th>
            <th
              class="border-blue-gray-100 bg-blue-gray-50/50 hover:bg-blue-gray-50 cursor-pointer border-b p-3 transition-colors"
            >
              <p
                class="text-blue-gray-900 flex items-center justify-between gap-2 font-sans text-md font-normal leading-none antialiased opacity-70"
              >
                связанных
              </p>
            </th>
          </tr>
          <tr>
            <th
              class="border-blue-gray-100 bg-blue-gray-50/50 hover:bg-blue-gray-50 cursor-pointer border-y p-2 transition-colors"
            ></th>
            <th
              class="border-blue-gray-100 bg-blue-gray-50/50 hover:bg-blue-gray-50 cursor-pointer border-y p-3 transition-colors"
            >
              <div class="md:w-18 w-full">
                <div class="relative h-10 w-full min-w-[50px]">
                  <div
                    class="text-blue-gray-500 absolute right-3 top-2/4 grid h-5 w-5 -translate-y-2/4 place-items-center"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      aria-hidden="true"
                      class="h-5 w-5"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z"
                      ></path>
                    </svg>
                  </div>
                  <input
                    class="border-blue-gray-200 text-blue-gray-700 placeholder-shown:border-blue-gray-200 placeholder-shown:border-t-blue-gray-200 disabled:bg-blue-gray-50 peer h-full w-full rounded-[7px] border bg-transparent px-3 py-2.5 !pr-9 font-sans text-sm font-normal outline outline-0 transition-all placeholder-shown:border focus:border focus:outline-0 disabled:border-0"
                    placeholder=" "
                  />
                  <label
                    class="peer-placeholder-shown:text-blue-gray-500 peer-disabled:peer-placeholder-shown:text-blue-gray-500 pointer-events-none absolute left-2 top-9 block h-4 w-fit select-none !overflow-visible truncate bg-[#F6F7F8] px-1 text-[11px] font-normal leading-tight text-gray-500 transition-all peer-placeholder-shown:top-3 peer-placeholder-shown:text-sm peer-focus:-top-[6px] peer-focus:text-[10px] peer-focus:leading-tight peer-focus:text-gray-900 peer-disabled:text-transparent"
                  >
                    Фильтр
                  </label>
                </div>
              </div>
            </th>
            <th
              class="border-blue-gray-100 bg-blue-gray-50/50 hover:bg-blue-gray-50 cursor-pointer border-y p-3 transition-colors"
            >
              <div class="md:w-27 w-full">
                <div class="relative h-10 w-full min-w-[50px]">
                  <div
                    class="text-blue-gray-500 absolute right-3 top-2/4 grid h-5 w-5 -translate-y-2/4 place-items-center"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      aria-hidden="true"
                      class="h-5 w-5"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z"
                      ></path>
                    </svg>
                  </div>
                  <input
                    class="border-blue-gray-200 text-blue-gray-700 placeholder-shown:border-blue-gray-200 placeholder-shown:border-t-blue-gray-200 disabled:bg-blue-gray-50 peer h-full w-full rounded-[7px] border bg-transparent px-3 py-2.5 !pr-9 font-sans text-sm font-normal outline outline-0 transition-all placeholder-shown:border focus:border focus:outline-0 disabled:border-0"
                    placeholder=" "
                  />
                  <label
                    class="peer-placeholder-shown:text-blue-gray-500 peer-disabled:peer-placeholder-shown:text-blue-gray-500 pointer-events-none absolute left-2 top-9 block h-4 w-fit select-none !overflow-visible truncate bg-[#F6F7F8] px-1 text-[11px] font-normal leading-tight text-gray-500 transition-all peer-placeholder-shown:top-3 peer-placeholder-shown:text-sm peer-focus:-top-[6px] peer-focus:text-[10px] peer-focus:leading-tight peer-focus:text-gray-900 peer-disabled:text-transparent"
                  >
                    Фильтр
                  </label>
                </div>
              </div>
            </th>
            <th
              class="border-blue-gray-100 bg-blue-gray-50/50 hover:bg-blue-gray-50 cursor-pointer border-y p-3 transition-colors"
            >
              <div class="md:w-18 w-full">
                <div class="relative h-10 w-full min-w-[50px]">
                  <div
                    class="text-blue-gray-500 absolute right-3 top-2/4 grid h-5 w-5 -translate-y-2/4 place-items-center"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      aria-hidden="true"
                      class="h-5 w-5"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z"
                      ></path>
                    </svg>
                  </div>
                  <input
                    class="border-blue-gray-200 text-blue-gray-700 placeholder-shown:border-blue-gray-200 placeholder-shown:border-t-blue-gray-200 disabled:bg-blue-gray-50 peer h-full w-full rounded-[7px] border bg-transparent px-3 py-2.5 !pr-9 font-sans text-sm font-normal outline outline-0 transition-all placeholder-shown:border focus:border focus:outline-0 disabled:border-0"
                    placeholder=" "
                  />
                  <label
                    class="peer-placeholder-shown:text-blue-gray-500 peer-disabled:peer-placeholder-shown:text-blue-gray-500 pointer-events-none absolute left-2 top-9 block h-4 w-fit select-none !overflow-visible truncate bg-[#F6F7F8] px-1 text-[11px] font-normal leading-tight text-gray-500 transition-all peer-placeholder-shown:top-3 peer-placeholder-shown:text-sm peer-focus:-top-[6px] peer-focus:text-[10px] peer-focus:leading-tight peer-focus:text-gray-900 peer-disabled:text-transparent"
                  >
                    Фильтр
                  </label>
                </div>
              </div>
            </th>
            <th
              class="border-blue-gray-100 bg-blue-gray-50/50 hover:bg-blue-gray-50 cursor-pointer border-y p-3 transition-colors"
            >
              <div class="md:w-18 w-full">
                <div class="relative h-10 w-full min-w-[50px]">
                  <div
                    class="text-blue-gray-500 absolute right-3 top-2/4 grid h-5 w-5 -translate-y-2/4 place-items-center"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      aria-hidden="true"
                      class="h-5 w-5"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z"
                      ></path>
                    </svg>
                  </div>
                  <input
                    class="border-blue-gray-200 text-blue-gray-700 placeholder-shown:border-blue-gray-200 placeholder-shown:border-t-blue-gray-200 disabled:bg-blue-gray-50 peer h-full w-full rounded-[7px] border bg-transparent px-3 py-2.5 !pr-9 font-sans text-sm font-normal outline outline-0 transition-all placeholder-shown:border focus:border focus:outline-0 disabled:border-0"
                    placeholder=" "
                  />
                  <label
                    class="peer-placeholder-shown:text-blue-gray-500 peer-disabled:peer-placeholder-shown:text-blue-gray-500 pointer-events-none absolute left-2 top-9 block h-4 w-fit select-none !overflow-visible truncate bg-[#F6F7F8] px-1 text-[11px] font-normal leading-tight text-gray-500 transition-all peer-placeholder-shown:top-3 peer-placeholder-shown:text-sm peer-focus:-top-[6px] peer-focus:text-[10px] peer-focus:leading-tight peer-focus:text-gray-900 peer-disabled:text-transparent"
                  >
                    Фильтр
                  </label>
                </div>
              </div>
            </th>
            <th
              class="border-blue-gray-100 bg-blue-gray-50/50 hover:bg-blue-gray-50 cursor-pointer border-y p-3 transition-colors"
            >
              <div class="md:w-18 w-full">
                <div class="relative h-10 w-full min-w-[50px]">
                  <div
                    class="text-blue-gray-500 absolute right-3 top-2/4 grid h-5 w-5 -translate-y-2/4 place-items-center"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      aria-hidden="true"
                      class="h-5 w-5"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z"
                      ></path>
                    </svg>
                  </div>
                  <input
                    class="border-blue-gray-200 text-blue-gray-700 placeholder-shown:border-blue-gray-200 placeholder-shown:border-t-blue-gray-200 disabled:bg-blue-gray-50 peer h-full w-full rounded-[7px] border bg-transparent px-3 py-2.5 !pr-9 font-sans text-sm font-normal outline outline-0 transition-all placeholder-shown:border focus:border focus:outline-0 disabled:border-0"
                    placeholder=" "
                  />
                  <label
                    class="peer-placeholder-shown:text-blue-gray-500 peer-disabled:peer-placeholder-shown:text-blue-gray-500 pointer-events-none absolute left-2 top-9 block h-4 w-fit select-none !overflow-visible truncate bg-[#F6F7F8] px-1 text-[11px] font-normal leading-tight text-gray-500 transition-all peer-placeholder-shown:top-3 peer-placeholder-shown:text-sm peer-focus:-top-[6px] peer-focus:text-[10px] peer-focus:leading-tight peer-focus:text-gray-900 peer-disabled:text-transparent"
                  >
                    Фильтр
                  </label>
                </div>
              </div>
            </th>
            <th
              class="border-blue-gray-100 bg-blue-gray-50/50 hover:bg-blue-gray-50 cursor-pointer border-y p-3 transition-colors"
            ></th>
            <th
              class="border-blue-gray-100 bg-blue-gray-50/50 hover:bg-blue-gray-50 cursor-pointer border-y p-3 transition-colors"
            ></th>
            <th
              class="border-blue-gray-100 bg-blue-gray-50/50 hover:bg-blue-gray-50 cursor-pointer border-y p-3 transition-colors"
            ></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="border-blue-gray-50 border-b p-2">
              <div class="inline-flex items-center">
                <label
                  class="relative flex cursor-pointer items-center rounded-full p-0"
                  htmlFor="vertical-list-react"
                >
                  <input
                    id="vertical-list-react"
                    type="checkbox"
                    class="before:content[''] border-blue-gray-200 before:bg-blue-gray-500 peer relative h-5 w-5 cursor-pointer appearance-none rounded-md border transition-all before:absolute before:left-2/4 before:top-2/4 before:block before:h-12 before:w-12 before:-translate-x-2/4 before:-translate-y-2/4 before:rounded-full before:opacity-0 before:transition-opacity checked:border-gray-900 checked:bg-gray-900 checked:before:bg-gray-900 hover:before:opacity-0"
                  />
                  <span
                    class="pointer-events-none absolute left-2/4 top-2/4 -translate-x-2/4 -translate-y-2/4 text-white opacity-0 transition-opacity peer-checked:opacity-100"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="h-3.5 w-3.5"
                      viewBox="0 0 20 20"
                      fill="currentColor"
                      stroke="currentColor"
                      stroke-width="1"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                        clip-rule="evenodd"
                      ></path>
                    </svg>
                  </span>
                </label>
              </div>
            </td>
            <td class="border-blue-gray-50 border-b p-3">
              <div class="flex items-center gap-3">
                <h4 class="text-md">59513-1</h4>
              </div>
            </td>
            <td class="border-blue-gray-50 border-b p-3">
              <div class="flex flex-col gap-1">
                <div class="flex items-center gap-2">
                  <div
                    class="relative h-12 w-12 flex-shrink-0 overflow-hidden rounded-[5px]"
                  >
                    <img
                      src="./img/engine.png"
                      alt="engine"
                      class="h-full w-full object-cover"
                    />
                  </div>
                  <h4 class="text-md">Абсорбер топливной системы</h4>
                </div>
                <div class="flex flex-wrap gap-1">
                  <div
                    class="relative inline w-fit rounded-md bg-blue-500 px-1 py-0.5 font-sans text-[10px] font-bold uppercase text-white"
                  >
                    <span class="">в работе</span>
                  </div>
                  <div
                    class="relative inline w-fit rounded-md bg-red-500 px-1 py-0.5 font-sans text-[10px] font-bold uppercase text-white"
                  >
                    <span class="">омск</span>
                  </div>
                </div>
              </div>
            </td>
            <td class="border-blue-gray-50 border-b p-3">
              <div class="flex w-min justify-start">
                <h4 class="text-md">Патрубок воздушного фильтра</h4>
              </div>
            </td>
            <td class="border-blue-gray-50 border-b p-3">
              <h4
                class="text-blue-gray-900 text-md font-normal leading-normal antialiased"
              >
                A9402940701
              </h4>
            </td>
            <td class="border-blue-gray-50 border-b p-3">
              <h4 class="text-md">Renault T</h4>
            </td>
            <td class="border-blue-gray-50 border-b p-3">
              <h4 class="whitespace-nowrap text-md">2 999 р.</h4>
            </td>
            <td class="border-blue-gray-50 border-b p-3"></td>
            <td class="border-blue-gray-50 border-b p-3">
              <h4 class="text-md">1</h4>
            </td>
          </tr>
          <tr>
            <td class="border-blue-gray-50 border-b p-2">
              <div class="inline-flex items-center">
                <label
                  class="relative flex cursor-pointer items-center rounded-full p-0"
                  htmlFor="vertical-list-react"
                >
                  <input
                    id="vertical-list-react"
                    type="checkbox"
                    class="before:content[''] border-blue-gray-200 before:bg-blue-gray-500 peer relative h-5 w-5 cursor-pointer appearance-none rounded-md border transition-all before:absolute before:left-2/4 before:top-2/4 before:block before:h-12 before:w-12 before:-translate-x-2/4 before:-translate-y-2/4 before:rounded-full before:opacity-0 before:transition-opacity checked:border-gray-900 checked:bg-gray-900 checked:before:bg-gray-900 hover:before:opacity-0"
                  />
                  <span
                    class="pointer-events-none absolute left-2/4 top-2/4 -translate-x-2/4 -translate-y-2/4 text-white opacity-0 transition-opacity peer-checked:opacity-100"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="h-3.5 w-3.5"
                      viewBox="0 0 20 20"
                      fill="currentColor"
                      stroke="currentColor"
                      stroke-width="1"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                        clip-rule="evenodd"
                      ></path>
                    </svg>
                  </span>
                </label>
              </div>
            </td>
            <td class="border-blue-gray-50 border-b p-3">
              <div class="flex items-center gap-3">
                <h4 class="text-md">59513-1</h4>
              </div>
            </td>
            <td class="border-blue-gray-50 border-b p-3">
              <div class="flex flex-col gap-1">
                <div class="flex items-center gap-2">
                  <div
                    class="relative h-12 w-12 flex-shrink-0 overflow-hidden rounded-[5px]"
                  >
                    <img
                      src="./img/engine.png"
                      alt="engine"
                      class="h-full w-full object-cover"
                    />
                  </div>
                  <h4 class="text-md">Абсорбер топливной системы</h4>
                </div>
                <div class="flex flex-wrap gap-1">
                  <div
                    class="relative inline w-fit rounded-md bg-blue-500 px-1 py-0.5 font-sans text-[10px] font-bold uppercase text-white"
                  >
                    <span class="">в работе</span>
                  </div>
                  <div
                    class="relative inline w-fit rounded-md bg-red-500 px-1 py-0.5 font-sans text-[10px] font-bold uppercase text-white"
                  >
                    <span class="">омск</span>
                  </div>
                </div>
              </div>
            </td>
            <td class="border-blue-gray-50 border-b p-3">
              <div class="flex w-min justify-start">
                <h4 class="text-md">Патрубок воздушного фильтра</h4>
              </div>
            </td>
            <td class="border-blue-gray-50 border-b p-3">
              <h4
                class="text-blue-gray-900 text-md font-normal leading-normal antialiased"
              >
                A9402940701
              </h4>
            </td>
            <td class="border-blue-gray-50 border-b p-3">
              <h4 class="text-md">Renault T</h4>
            </td>
            <td class="border-blue-gray-50 border-b p-3">
              <h4 class="whitespace-nowrap text-md">2 999 р.</h4>
            </td>
            <td class="border-blue-gray-50 border-b p-3"></td>
            <td class="border-blue-gray-50 border-b p-3">
              <h4 class="text-md">1</h4>
            </td>
          </tr>
          <tr>
            <td class="border-blue-gray-50 border-b p-2">
              <div class="inline-flex items-center">
                <label
                  class="relative flex cursor-pointer items-center rounded-full p-0"
                  htmlFor="vertical-list-react"
                >
                  <input
                    id="vertical-list-react"
                    type="checkbox"
                    class="before:content[''] border-blue-gray-200 before:bg-blue-gray-500 peer relative h-5 w-5 cursor-pointer appearance-none rounded-md border transition-all before:absolute before:left-2/4 before:top-2/4 before:block before:h-12 before:w-12 before:-translate-x-2/4 before:-translate-y-2/4 before:rounded-full before:opacity-0 before:transition-opacity checked:border-gray-900 checked:bg-gray-900 checked:before:bg-gray-900 hover:before:opacity-0"
                  />
                  <span
                    class="pointer-events-none absolute left-2/4 top-2/4 -translate-x-2/4 -translate-y-2/4 text-white opacity-0 transition-opacity peer-checked:opacity-100"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="h-3.5 w-3.5"
                      viewBox="0 0 20 20"
                      fill="currentColor"
                      stroke="currentColor"
                      stroke-width="1"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                        clip-rule="evenodd"
                      ></path>
                    </svg>
                  </span>
                </label>
              </div>
            </td>
            <td class="border-blue-gray-50 border-b p-3">
              <div class="flex items-center gap-3">
                <h4 class="text-md">59513-1</h4>
              </div>
            </td>
            <td class="border-blue-gray-50 border-b p-3">
              <div class="flex flex-col gap-1">
                <div class="flex items-center gap-2">
                  <div
                    class="relative h-12 w-12 flex-shrink-0 overflow-hidden rounded-[5px]"
                  >
                    <img
                      src="./img/engine.png"
                      alt="engine"
                      class="h-full w-full object-cover"
                    />
                  </div>
                  <h4 class="text-md">Абсорбер топливной системы</h4>
                </div>
                <div class="flex flex-wrap gap-1">
                  <div
                    class="relative inline w-fit rounded-md bg-blue-500 px-1 py-0.5 font-sans text-[10px] font-bold uppercase text-white"
                  >
                    <span class="">в работе</span>
                  </div>
                  <div
                    class="relative inline w-fit rounded-md bg-red-500 px-1 py-0.5 font-sans text-[10px] font-bold uppercase text-white"
                  >
                    <span class="">омск</span>
                  </div>
                </div>
              </div>
            </td>
            <td class="border-blue-gray-50 border-b p-3">
              <div class="flex w-min justify-start">
                <h4 class="text-md">Патрубок воздушного фильтра</h4>
              </div>
            </td>
            <td class="border-blue-gray-50 border-b p-3">
              <h4
                class="text-blue-gray-900 text-md font-normal leading-normal antialiased"
              >
                A9402940701
              </h4>
            </td>
            <td class="border-blue-gray-50 border-b p-3">
              <h4 class="text-md">Renault T</h4>
            </td>
            <td class="border-blue-gray-50 border-b p-3">
              <h4 class="whitespace-nowrap text-md">2 999 р.</h4>
            </td>
            <td class="border-blue-gray-50 border-b p-3"></td>
            <td class="border-blue-gray-50 border-b p-3">
              <h4 class="text-md">1</h4>
            </td>
          </tr>
          <tr>
            <td class="border-blue-gray-50 border-b p-2">
              <div class="inline-flex items-center">
                <label
                  class="relative flex cursor-pointer items-center rounded-full p-0"
                  htmlFor="vertical-list-react"
                >
                  <input
                    id="vertical-list-react"
                    type="checkbox"
                    class="before:content[''] border-blue-gray-200 before:bg-blue-gray-500 peer relative h-5 w-5 cursor-pointer appearance-none rounded-md border transition-all before:absolute before:left-2/4 before:top-2/4 before:block before:h-12 before:w-12 before:-translate-x-2/4 before:-translate-y-2/4 before:rounded-full before:opacity-0 before:transition-opacity checked:border-gray-900 checked:bg-gray-900 checked:before:bg-gray-900 hover:before:opacity-0"
                  />
                  <span
                    class="pointer-events-none absolute left-2/4 top-2/4 -translate-x-2/4 -translate-y-2/4 text-white opacity-0 transition-opacity peer-checked:opacity-100"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="h-3.5 w-3.5"
                      viewBox="0 0 20 20"
                      fill="currentColor"
                      stroke="currentColor"
                      stroke-width="1"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                        clip-rule="evenodd"
                      ></path>
                    </svg>
                  </span>
                </label>
              </div>
            </td>
            <td class="border-blue-gray-50 border-b p-3">
              <div class="flex items-center gap-3">
                <h4 class="text-md">59513-1</h4>
              </div>
            </td>
            <td class="border-blue-gray-50 border-b p-3">
              <div class="flex flex-col gap-1">
                <div class="flex items-center gap-2">
                  <div
                    class="relative h-12 w-12 flex-shrink-0 overflow-hidden rounded-[5px]"
                  >
                    <img
                      src="./img/engine.png"
                      alt="engine"
                      class="h-full w-full object-cover"
                    />
                  </div>
                  <h4 class="text-md">Абсорбер топливной системы</h4>
                </div>
                <div class="flex flex-wrap gap-1">
                  <div
                    class="relative inline w-fit rounded-md bg-blue-500 px-1 py-0.5 font-sans text-[10px] font-bold uppercase text-white"
                  >
                    <span class="">в работе</span>
                  </div>
                  <div
                    class="relative inline w-fit rounded-md bg-red-500 px-1 py-0.5 font-sans text-[10px] font-bold uppercase text-white"
                  >
                    <span class="">омск</span>
                  </div>
                </div>
              </div>
            </td>
            <td class="border-blue-gray-50 border-b p-3">
              <div class="flex w-min justify-start">
                <h4 class="text-md">Патрубок воздушного фильтра</h4>
              </div>
            </td>
            <td class="border-blue-gray-50 border-b p-3">
              <h4
                class="text-blue-gray-900 text-md font-normal leading-normal antialiased"
              >
                A9402940701
              </h4>
            </td>
            <td class="border-blue-gray-50 border-b p-3">
              <h4 class="text-md">Renault T</h4>
            </td>
            <td class="border-blue-gray-50 border-b p-3">
              <h4 class="whitespace-nowrap text-md">2 999 р.</h4>
            </td>
            <td class="border-blue-gray-50 border-b p-3"></td>
            <td class="border-blue-gray-50 border-b p-3">
              <h4 class="text-md">1</h4>
            </td>
          </tr>
          <tr>
            <td class="border-blue-gray-50 border-b p-2">
              <div class="inline-flex items-center">
                <label
                  class="relative flex cursor-pointer items-center rounded-full p-0"
                  htmlFor="vertical-list-react"
                >
                  <input
                    id="vertical-list-react"
                    type="checkbox"
                    class="before:content[''] border-blue-gray-200 before:bg-blue-gray-500 peer relative h-5 w-5 cursor-pointer appearance-none rounded-md border transition-all before:absolute before:left-2/4 before:top-2/4 before:block before:h-12 before:w-12 before:-translate-x-2/4 before:-translate-y-2/4 before:rounded-full before:opacity-0 before:transition-opacity checked:border-gray-900 checked:bg-gray-900 checked:before:bg-gray-900 hover:before:opacity-0"
                  />
                  <span
                    class="pointer-events-none absolute left-2/4 top-2/4 -translate-x-2/4 -translate-y-2/4 text-white opacity-0 transition-opacity peer-checked:opacity-100"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="h-3.5 w-3.5"
                      viewBox="0 0 20 20"
                      fill="currentColor"
                      stroke="currentColor"
                      stroke-width="1"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                        clip-rule="evenodd"
                      ></path>
                    </svg>
                  </span>
                </label>
              </div>
            </td>
            <td class="border-blue-gray-50 border-b p-3">
              <div class="flex items-center gap-3">
                <h4 class="text-md">59513-1</h4>
              </div>
            </td>
            <td class="border-blue-gray-50 border-b p-3">
              <div class="flex flex-col gap-1">
                <div class="flex items-center gap-2">
                  <div
                    class="relative h-12 w-12 flex-shrink-0 overflow-hidden rounded-[5px]"
                  >
                    <img
                      src="./img/engine.png"
                      alt="engine"
                      class="h-full w-full object-cover"
                    />
                  </div>
                  <h4 class="text-md">Абсорбер топливной системы</h4>
                </div>
                <div class="flex flex-wrap gap-1">
                  <div
                    class="relative inline w-fit rounded-md bg-blue-500 px-1 py-0.5 font-sans text-[10px] font-bold uppercase text-white"
                  >
                    <span class="">в работе</span>
                  </div>
                  <div
                    class="relative inline w-fit rounded-md bg-red-500 px-1 py-0.5 font-sans text-[10px] font-bold uppercase text-white"
                  >
                    <span class="">омск</span>
                  </div>
                </div>
              </div>
            </td>
            <td class="border-blue-gray-50 border-b p-3">
              <div class="flex w-min justify-start">
                <h4 class="text-md">Патрубок воздушного фильтра</h4>
              </div>
            </td>
            <td class="border-blue-gray-50 border-b p-3">
              <h4
                class="text-blue-gray-900 text-md font-normal leading-normal antialiased"
              >
                A9402940701
              </h4>
            </td>
            <td class="border-blue-gray-50 border-b p-3">
              <h4 class="text-md">Renault T</h4>
            </td>
            <td class="border-blue-gray-50 border-b p-3">
              <h4 class="whitespace-nowrap text-md">2 999 р.</h4>
            </td>
            <td class="border-blue-gray-50 border-b p-3"></td>
            <td class="border-blue-gray-50 border-b p-3">
              <h4 class="text-md">1</h4>
            </td>
          </tr>
          <tr>
            <td class="border-blue-gray-50 border-b p-2">
              <div class="inline-flex items-center">
                <label
                  class="relative flex cursor-pointer items-center rounded-full p-0"
                  htmlFor="vertical-list-react"
                >
                  <input
                    id="vertical-list-react"
                    type="checkbox"
                    class="before:content[''] border-blue-gray-200 before:bg-blue-gray-500 peer relative h-5 w-5 cursor-pointer appearance-none rounded-md border transition-all before:absolute before:left-2/4 before:top-2/4 before:block before:h-12 before:w-12 before:-translate-x-2/4 before:-translate-y-2/4 before:rounded-full before:opacity-0 before:transition-opacity checked:border-gray-900 checked:bg-gray-900 checked:before:bg-gray-900 hover:before:opacity-0"
                  />
                  <span
                    class="pointer-events-none absolute left-2/4 top-2/4 -translate-x-2/4 -translate-y-2/4 text-white opacity-0 transition-opacity peer-checked:opacity-100"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="h-3.5 w-3.5"
                      viewBox="0 0 20 20"
                      fill="currentColor"
                      stroke="currentColor"
                      stroke-width="1"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                        clip-rule="evenodd"
                      ></path>
                    </svg>
                  </span>
                </label>
              </div>
            </td>
            <td class="border-blue-gray-50 border-b p-3">
              <div class="flex items-center gap-3">
                <h4 class="text-md">59513-1</h4>
              </div>
            </td>
            <td class="border-blue-gray-50 border-b p-3">
              <div class="flex flex-col gap-1">
                <div class="flex items-center gap-2">
                  <div
                    class="relative h-12 w-12 flex-shrink-0 overflow-hidden rounded-[5px]"
                  >
                    <img
                      src="./img/engine.png"
                      alt="engine"
                      class="h-full w-full object-cover"
                    />
                  </div>
                  <h4 class="text-md">Абсорбер топливной системы</h4>
                </div>
                <div class="flex flex-wrap gap-1">
                  <div
                    class="relative inline w-fit rounded-md bg-blue-500 px-1 py-0.5 font-sans text-[10px] font-bold uppercase text-white"
                  >
                    <span class="">в работе</span>
                  </div>
                  <div
                    class="relative inline w-fit rounded-md bg-red-500 px-1 py-0.5 font-sans text-[10px] font-bold uppercase text-white"
                  >
                    <span class="">омск</span>
                  </div>
                </div>
              </div>
            </td>
            <td class="border-blue-gray-50 border-b p-3">
              <div class="flex w-min justify-start">
                <h4 class="text-md">Патрубок воздушного фильтра</h4>
              </div>
            </td>
            <td class="border-blue-gray-50 border-b p-3">
              <h4
                class="text-blue-gray-900 text-md font-normal leading-normal antialiased"
              >
                A9402940701
              </h4>
            </td>
            <td class="border-blue-gray-50 border-b p-3">
              <h4 class="text-md">Renault T</h4>
            </td>
            <td class="border-blue-gray-50 border-b p-3">
              <h4 class="whitespace-nowrap text-md">2 999 р.</h4>
            </td>
            <td class="border-blue-gray-50 border-b p-3"></td>
            <td class="border-blue-gray-50 border-b p-3">
              <h4 class="text-md">1</h4>
            </td>
          </tr>
          <tr>
            <td class="border-blue-gray-50 border-b p-2">
              <div class="inline-flex items-center">
                <label
                  class="relative flex cursor-pointer items-center rounded-full p-0"
                  htmlFor="vertical-list-react"
                >
                  <input
                    id="vertical-list-react"
                    type="checkbox"
                    class="before:content[''] border-blue-gray-200 before:bg-blue-gray-500 peer relative h-5 w-5 cursor-pointer appearance-none rounded-md border transition-all before:absolute before:left-2/4 before:top-2/4 before:block before:h-12 before:w-12 before:-translate-x-2/4 before:-translate-y-2/4 before:rounded-full before:opacity-0 before:transition-opacity checked:border-gray-900 checked:bg-gray-900 checked:before:bg-gray-900 hover:before:opacity-0"
                  />
                  <span
                    class="pointer-events-none absolute left-2/4 top-2/4 -translate-x-2/4 -translate-y-2/4 text-white opacity-0 transition-opacity peer-checked:opacity-100"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="h-3.5 w-3.5"
                      viewBox="0 0 20 20"
                      fill="currentColor"
                      stroke="currentColor"
                      stroke-width="1"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                        clip-rule="evenodd"
                      ></path>
                    </svg>
                  </span>
                </label>
              </div>
            </td>
            <td class="border-blue-gray-50 border-b p-3">
              <div class="flex items-center gap-3">
                <h4 class="text-md">59513-1</h4>
              </div>
            </td>
            <td class="border-blue-gray-50 border-b p-3">
              <div class="flex flex-col gap-1">
                <div class="flex items-center gap-2">
                  <div
                    class="relative h-12 w-12 flex-shrink-0 overflow-hidden rounded-[5px]"
                  >
                    <img
                      src="./img/engine.png"
                      alt="engine"
                      class="h-full w-full object-cover"
                    />
                  </div>
                  <h4 class="text-md">Абсорбер топливной системы</h4>
                </div>
                <div class="flex flex-wrap gap-1">
                  <div
                    class="relative inline w-fit rounded-md bg-blue-500 px-1 py-0.5 font-sans text-[10px] font-bold uppercase text-white"
                  >
                    <span class="">в работе</span>
                  </div>
                  <div
                    class="relative inline w-fit rounded-md bg-red-500 px-1 py-0.5 font-sans text-[10px] font-bold uppercase text-white"
                  >
                    <span class="">омск</span>
                  </div>
                </div>
              </div>
            </td>
            <td class="border-blue-gray-50 border-b p-3">
              <div class="flex w-min justify-start">
                <h4 class="text-md">Патрубок воздушного фильтра</h4>
              </div>
            </td>
            <td class="border-blue-gray-50 border-b p-3">
              <h4
                class="text-blue-gray-900 text-md font-normal leading-normal antialiased"
              >
                A9402940701
              </h4>
            </td>
            <td class="border-blue-gray-50 border-b p-3">
              <h4 class="text-md">Renault T</h4>
            </td>
            <td class="border-blue-gray-50 border-b p-3">
              <h4 class="whitespace-nowrap text-md">2 999 р.</h4>
            </td>
            <td class="border-blue-gray-50 border-b p-3"></td>
            <td class="border-blue-gray-50 border-b p-3">
              <h4 class="text-md">1</h4>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  @@include('footer.html')
</main>
