<div
  class="shadow-blue-gray-900/5 relative flex h-full w-[280px] px-3 flex-col bg-white bg-clip-border p-2 text-blue-gray shadow-xl"
>
  <div class="mb-2 flex items-center gap-4 p-4 px-3 max-w-[160px]">
    <img src="./img/logo.svg" alt="">
  </div>

  <nav
    class="text-blue-gray-700 flex flex-col gap-1 font-sans text-sm font-normal"
  >
    <a
      href="#"
      role="button"
      class="flex w-full items-center rounded-lg px-2 py-3 text-start leading-tight outline-none transition-all hover:bg-light-gray hover:bg-opacity-80 hover:text-blue-gray focus:bg-light-gray focus:bg-opacity-80 focus:text-blue-gray active:bg-light-gray active:bg-opacity-80 active:text-blue-gray sidebar-active"
    >
      <div class="mr-2 grid place-items-center flex-shrink-0">
        @@include('shared/sprite.html', { name: "cog", class: "w-6 h-6" })
      </div>
      <h5 class="text-lg font-normal">Запчасти</h5>
    </a>
    <a
      href="#"
      role="button"
      class="flex w-full items-center rounded-lg px-2 py-3 text-start leading-tight outline-none transition-all hover:bg-light-gray hover:bg-opacity-80 hover:text-blue-gray focus:bg-light-gray focus:bg-opacity-80 focus:text-blue-gray active:bg-light-gray active:bg-opacity-80 active:text-blue-gray"
    >
      <div class="mr-2 grid flex-shrink-0 place-items-center">
        @@include('shared/sprite.html', { name: "shopping-cart", class: "w-6 h-6" })
      </div>
      <h5 class="text-lg font-normal">Заказы</h5>
      <div class="ml-auto grid place-items-center justify-self-end">
        <div
          class="relative flex h-7 w-7 select-none items-center justify-center whitespace-nowrap rounded-full text-xs"
        >
          <span class="text-base font-sans font-bold text-primary">14</span>
        </div>
      </div>
    </a>
    <a
      href="#"
      role="button"
      class="flex w-full items-center rounded-lg px-2 py-3 text-start leading-tight outline-none transition-all hover:bg-light-gray hover:bg-opacity-80 hover:text-blue-gray focus:bg-light-gray focus:bg-opacity-80 focus:text-blue-gray active:bg-light-gray active:bg-opacity-80 active:text-blue-gray"
    >
      <div class="mr-2 grid flex-shrink-0 place-items-center">
        @@include('shared/sprite.html', { name: "truck", class: "w-6 h-6" })
      </div>

      <h5 class="text-lg font-normal">Машины</h5>
    </a>
    <div class="relative block w-full" data-accordion-item>
      <div
        role="button"
        class="flex w-full items-center rounded-lg p-0 text-start leading-tight outline-none transition-all hover:bg-light-gray hover:bg-opacity-80 hover:text-blue-gray focus:bg-light-gray focus:bg-opacity-80 focus:text-blue-gray active:bg-light-gray active:bg-opacity-80 active:text-blue-gray"
      >
        <button
          data-accordion-button
          type="button"
          class="border-b-blue-gray-100 text-blue-gray-700 flex w-full select-none items-center justify-between border-b-0 px-2 py-3 text-left font-sans text-xl font-semibold leading-snug antialiased transition-colors hover:text-blue-gray"
        >
          <div class="mr-2 grid flex-shrink-0 place-items-center">
            @@include('shared/sprite.html', { name: "depot", class: "w-6 h-6" })
          </div>
          <p
            class="mr-auto block font-sans text-lg font-normal leading-relaxed text-blue-gray antialiased"
          >
            Склад
          </p>
          <span class="ml-4">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="2.5"
              stroke="currentColor"
              aria-hidden="true"
              class="mx-auto h-4 w-4 transition-transform"
              data-accordion-arrow
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M19.5 8.25l-7.5 7.5-7.5-7.5"
              ></path>
            </svg>
          </span>
        </button>
      </div>
      <div>
        <div
          class="max-h-0 overflow-hidden transition-[max-height] duration-200"
          data-accordion-content=""
        >
          <div
            class="block w-full py-1 font-sans text-sm font-light leading-normal text-blue-gray antialiased"
          >
            <nav
              class="text-blue-gray-700 ms-2 flex flex-col gap-1 p-0 font-sans text-sm font-normal"
            >
              <a
                href="#"
                role="button"
                class="flex w-full items-center rounded-lg px-2 py-3 text-start leading-tight outline-none transition-all hover:bg-light-gray hover:bg-opacity-80 hover:text-blue-gray focus:bg-light-gray focus:bg-opacity-80 focus:text-blue-gray active:bg-light-gray active:bg-opacity-80 active:text-blue-gray"
              >
                <div class="mr-2 grid flex-shrink-0 place-items-center">
                  @@include('shared/sprite.html', { name: "document-text", class: "w-6 h-6" })
                </div>
                <h5 class="text-lg font-normal">Размещение</h5>
              </a>
              <a
                href="#"
                role="button"
                class="flex w-full items-center rounded-lg px-2 py-3 text-start leading-tight outline-none transition-all hover:bg-light-gray hover:bg-opacity-80 hover:text-blue-gray focus:bg-light-gray focus:bg-opacity-80 focus:text-blue-gray active:bg-light-gray active:bg-opacity-80 active:text-blue-gray"
              >
                <div class="mr-2 grid flex-shrink-0 place-items-center">
                  @@include('shared/sprite.html', { name: "document-text", class: "w-6 h-6" })
                </div>
                <h5 class="text-lg font-normal">Инвентаризация</h5>
              </a>
              <a
                href="#"
                role="button"
                class="flex w-full items-center rounded-lg px-2 py-3 text-start leading-tight outline-none transition-all hover:bg-light-gray hover:bg-opacity-80 hover:text-blue-gray focus:bg-light-gray focus:bg-opacity-80 focus:text-blue-gray active:bg-light-gray active:bg-opacity-80 active:text-blue-gray"
              >
                <div class="mr-2 grid flex-shrink-0 place-items-center">
                  @@include('shared/sprite.html', { name: "document-text", class: "w-6 h-6" })
                </div>
                <h5 class="text-lg font-normal">Склады</h5>
              </a>
            </nav>
          </div>
        </div>
      </div>
    </div>
    <a
      href="#"
      role="button"
      class="flex w-full items-center rounded-lg px-2 py-3 text-start leading-tight outline-none transition-all hover:bg-light-gray hover:bg-opacity-80 hover:text-blue-gray focus:bg-light-gray focus:bg-opacity-80 focus:text-blue-gray active:bg-light-gray active:bg-opacity-80 active:text-blue-gray"
    >
      <div class="mr-2 grid flex-shrink-0 place-items-center">
        @@include('shared/sprite.html', { name: "template", class: "w-6 h-6" })
      </div>
      <h5 class="text-lg font-normal">Интеграции</h5>
    </a>
    <div class="relative block w-full" data-accordion-item>
      <div
        role="button"
        class="flex w-full items-center rounded-lg p-0 text-start leading-tight outline-none transition-all hover:bg-light-gray hover:bg-opacity-80 hover:text-blue-gray focus:bg-light-gray focus:bg-opacity-80 focus:text-blue-gray active:bg-light-gray active:bg-opacity-80 active:text-blue-gray"
      >
        <button
          data-accordion-button
          type="button"
          class="border-b-blue-gray-100 text-blue-gray-700 flex w-full select-none items-center justify-between border-b-0 px-2 py-3 text-left font-sans text-xl font-semibold leading-snug antialiased transition-colors hover:text-blue-gray"
        >
          <div class="mr-2 grid flex-shrink-0 place-items-center">
            @@include('shared/sprite.html', { name: "book-open", class: "w-6 h-6" })
          </div>
          <p
            class="mr-auto block font-sans text-lg font-normal leading-relaxed text-blue-gray antialiased"
          >
            Справочники
          </p>
          <span class="ml-4">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="2.5"
              stroke="currentColor"
              aria-hidden="true"
              class="mx-auto h-4 w-4 transition-transform"
              data-accordion-arrow
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M19.5 8.25l-7.5 7.5-7.5-7.5"
              ></path>
            </svg>
          </span>
        </button>
      </div>
      <div class="max-h-0 overflow-hidden" data-accordion-content>
        <div
          class="block w-full py-1 font-sans text-sm font-light leading-normal text-blue-gray antialiased"
        >
          <nav
            class="text-blue-gray-700 ms-2 flex flex-col gap-1 p-0 font-sans text-sm font-normal"
          >
            <a
              href="#"
              role="button"
              class="flex w-full items-center rounded-lg px-2 py-3 text-start leading-tight outline-none transition-all hover:bg-light-gray hover:bg-opacity-80 hover:text-blue-gray focus:bg-light-gray focus:bg-opacity-80 focus:text-blue-gray active:bg-light-gray active:bg-opacity-80 active:text-blue-gray"
            >
              <div class="mr-2 grid flex-shrink-0 place-items-center">
                @@include('shared/sprite.html', { name: "user-group", class: "w-6 h-6" })
              </div>
              <h5 class="text-lg font-normal">Пользователи</h5>
            </a>
            <a
              href="#"
              role="button"
              class="flex w-full items-center rounded-lg px-2 py-3 text-start leading-tight outline-none transition-all hover:bg-light-gray hover:bg-opacity-80 hover:text-blue-gray focus:bg-light-gray focus:bg-opacity-80 focus:text-blue-gray active:bg-light-gray active:bg-opacity-80 active:text-blue-gray"
            >
              <div class="mr-2 grid flex-shrink-0 place-items-center">
                @@include('shared/sprite.html', { name: "models", class: "w-6 h-6" })
              </div>
              <h5 class="text-lg font-normal">Марки и модели ТС</h5>
            </a>
            <a
              href="#"
              role="button"
              class="flex w-full items-center rounded-lg px-2 py-3 text-start leading-tight outline-none transition-all hover:bg-light-gray hover:bg-opacity-80 hover:text-blue-gray focus:bg-light-gray focus:bg-opacity-80 focus:text-blue-gray active:bg-light-gray active:bg-opacity-80 active:text-blue-gray"
            >
              <div class="mr-2 grid flex-shrink-0 place-items-center">
                @@include('shared/sprite.html', { name: "star", class: "w-6 h-6" })
              </div>
              <h5 class="text-lg font-normal">Отзывы на сайте</h5>
            </a>
            <a
              href="#"
              role="button"
              class="flex w-full items-center rounded-lg px-2 py-3 text-start leading-tight outline-none transition-all hover:bg-light-gray hover:bg-opacity-80 hover:text-blue-gray focus:bg-light-gray focus:bg-opacity-80 focus:text-blue-gray active:bg-light-gray active:bg-opacity-80 active:text-blue-gray"
            >
              <div class="mr-2 grid flex-shrink-0 place-items-center">
                @@include('shared/sprite.html', { name: "traffic", class: "w-6 h-6" })
              </div>
              <h5 class="text-lg font-normal">Каналы трафика</h5>
            </a>
            <a
              href="#"
              role="button"
              class="flex w-full items-center rounded-lg px-2 py-3 text-start leading-tight outline-none transition-all hover:bg-light-gray hover:bg-opacity-80 hover:text-blue-gray focus:bg-light-gray focus:bg-opacity-80 focus:text-blue-gray active:bg-light-gray active:bg-opacity-80 active:text-blue-gray"
            >
              <div class="mr-2 grid flex-shrink-0 place-items-center">
                @@include('shared/sprite.html', { name: "branches", class: "w-6 h-6" })
              </div>
              <h5 class="text-lg font-normal">Филиалы</h5>
            </a>

            <div class="relative block w-full" data-accordion-item>
              <div
                role="button"
                class="flex w-full items-center rounded-lg p-0 text-start leading-tight outline-none transition-all hover:bg-light-gray hover:bg-opacity-80 hover:text-blue-gray focus:bg-light-gray focus:bg-opacity-80 focus:text-blue-gray active:bg-light-gray active:bg-opacity-80 active:text-blue-gray"
              >
                <button
                  data-accordion-button
                  type="button"
                  class="border-b-blue-gray-100 text-blue-gray-700 flex w-full select-none items-center justify-between border-b-0 px-2 py-3 text-left font-sans text-xl font-semibold leading-snug antialiased transition-colors hover:text-blue-gray"
                >
                  <div class="mr-2 grid flex-shrink-0 place-items-center">
                    @@include('shared/sprite.html', { name: "cog", class: "w-6 h-6" })
                  </div>
                  <p
                    class="mr-auto block font-sans text-lg font-normal leading-relaxed text-blue-gray antialiased"
                  >
                    Запчасти
                  </p>
                  <span class="ml-4">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="2.5"
                      stroke="currentColor"
                      aria-hidden="true"
                      class="mx-auto h-4 w-4 transition-transform"
                      data-accordion-arrow
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M19.5 8.25l-7.5 7.5-7.5-7.5"
                      ></path>
                    </svg>
                  </span>
                </button>
              </div>
              <div>
                <div
                  class="max-h-0 overflow-hidden transition-[max-height] duration-200"
                  data-accordion-content=""
                >
                  <div
                    class="block w-full py-1 font-sans text-sm font-light leading-normal text-blue-gray antialiased"
                  >
                    <nav
                      class="text-blue-gray-700 ms-2 flex flex-col gap-1 p-0 font-sans text-sm font-normal"
                    >
                      <a
                        href="#"
                        role="button"
                        class="flex w-full items-center rounded-lg px-2 py-3 text-start leading-tight outline-none transition-all hover:bg-light-gray hover:bg-opacity-80 hover:text-blue-gray focus:bg-light-gray focus:bg-opacity-80 focus:text-blue-gray active:bg-light-gray active:bg-opacity-80 active:text-blue-gray"
                      >
                        <div class="mr-2 grid flex-shrink-0 place-items-center">
                          @@include('shared/sprite.html', { name: "hub", class: "w-6 h-6" })
                        </div>
                        <h5 class="text-lg font-normal">Узлы</h5>
                      </a>
                      <a
                        href="#"
                        role="button"
                        class="flex w-full items-center rounded-lg px-2 py-3 text-start leading-tight outline-none transition-all hover:bg-light-gray hover:bg-opacity-80 hover:text-blue-gray focus:bg-light-gray focus:bg-opacity-80 focus:text-blue-gray active:bg-light-gray active:bg-opacity-80 active:text-blue-gray"
                      >
                        <div class="mr-2 grid flex-shrink-0 place-items-center">
                          @@include('shared/sprite.html', { name: "category", class: "w-6 h-6" })
                        </div>
                        <h5 class="text-lg font-normal">Категории</h5>
                      </a>
                      <a
                        href="#"
                        role="button"
                        class="flex w-full items-center rounded-lg px-2 py-3 text-start leading-tight outline-none transition-all hover:bg-light-gray hover:bg-opacity-80 hover:text-blue-gray focus:bg-light-gray focus:bg-opacity-80 focus:text-blue-gray active:bg-light-gray active:bg-opacity-80 active:text-blue-gray"
                      >
                        <div class="mr-2 grid flex-shrink-0 place-items-center">
                          @@include('shared/sprite.html', { name: "bookmark-alt", class: "w-6 h-6" })
                        </div>
                        <h5 class="text-lg font-normal">Группы</h5>
                      </a>
                      <a
                        href="#"
                        role="button"
                        class="flex w-full items-center rounded-lg px-2 py-3 text-start leading-tight outline-none transition-all hover:bg-light-gray hover:bg-opacity-80 hover:text-blue-gray focus:bg-light-gray focus:bg-opacity-80 focus:text-blue-gray active:bg-light-gray active:bg-opacity-80 active:text-blue-gray"
                      >
                        <div class="mr-2 grid flex-shrink-0 place-items-center">
                          @@include('shared/sprite.html', { name: "sparkles", class: "w-6 h-6" })
                        </div>
                        <h5 class="text-lg font-normal">Особенности</h5>
                      </a>
                    </nav>
                  </div>
                </div>
              </div>
            </div>
            <div class="relative block w-full" data-accordion-item>
              <div
                role="button"
                class="flex w-full items-center rounded-lg p-0 text-start leading-tight outline-none transition-all hover:bg-light-gray hover:bg-opacity-80 hover:text-blue-gray focus:bg-light-gray focus:bg-opacity-80 focus:text-blue-gray active:bg-light-gray active:bg-opacity-80 active:text-blue-gray"
              >
                <button
                  data-accordion-button
                  type="button"
                  class="border-b-blue-gray-100 text-blue-gray-700 flex w-full select-none items-center justify-between border-b-0 px-2 py-3 text-left font-sans text-xl font-semibold leading-snug antialiased transition-colors hover:text-blue-gray"
                >
                  <div class="mr-2 grid flex-shrink-0 place-items-center">
                    @@include('shared/sprite.html', { name: "shopping-cart", class: "w-6 h-6" })
                  </div>
                  <p
                    class="mr-auto block font-sans text-lg font-normal leading-relaxed text-blue-gray antialiased"
                  >
                    Заказы
                  </p>
                  <span class="ml-4">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="2.5"
                      stroke="currentColor"
                      aria-hidden="true"
                      class="mx-auto h-4 w-4 transition-transform"
                      data-accordion-arrow
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M19.5 8.25l-7.5 7.5-7.5-7.5"
                      ></path>
                    </svg>
                  </span>
                </button>
              </div>
              <div>
                <div
                  class="max-h-0 overflow-hidden transition-[max-height] duration-200"
                  data-accordion-content=""
                >
                  <div
                    class="block w-full py-1 font-sans text-sm font-light leading-normal text-blue-gray antialiased"
                  >
                    <nav
                      class="text-blue-gray-700 ms-2 flex flex-col gap-1 p-0 font-sans text-sm font-normal"
                    >
                      <a
                        href="#"
                        role="button"
                        class="flex w-full items-center rounded-lg px-2 py-3 text-start leading-tight outline-none transition-all hover:bg-light-gray hover:bg-opacity-80 hover:text-blue-gray focus:bg-light-gray focus:bg-opacity-80 focus:text-blue-gray active:bg-light-gray active:bg-opacity-80 active:text-blue-gray"
                      >
                        <div class="mr-2 grid flex-shrink-0 place-items-center">
                          @@include('shared/sprite.html', { name: "clipboard-list", class: "w-6 h-6" })
                        </div>
                        <h5 class="text-lg font-normal">Истроия заказов</h5>
                      </a>
                      <a
                        href="#"
                        role="button"
                        class="flex w-full items-center rounded-lg px-2 py-3 text-start leading-tight outline-none transition-all hover:bg-light-gray hover:bg-opacity-80 hover:text-blue-gray focus:bg-light-gray focus:bg-opacity-80 focus:text-blue-gray active:bg-light-gray active:bg-opacity-80 active:text-blue-gray"
                      >
                        <div class="mr-2 grid place-items-center">
                          @@include('shared/sprite.html', { name: "redit-card", class: "w-6 h-6" })
                        </div>
                        <h5 class="text-lg font-normal">
                          Способы оплаты заказов
                        </h5>
                      </a>
                    </nav>
                  </div>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </div>
    <div class="relative block w-full" data-accordion-item>
      <div
        role="button"
        class="flex w-full items-center rounded-lg p-0 text-start leading-tight outline-none transition-all hover:bg-light-gray hover:bg-opacity-80 hover:text-blue-gray focus:bg-light-gray focus:bg-opacity-80 focus:text-blue-gray active:bg-light-gray active:bg-opacity-80 active:text-blue-gray"
      >
        <button
          data-accordion-button
          type="button"
          class="border-b-blue-gray-100 text-blue-gray-700 flex w-full select-none items-center justify-between border-b-0 px-2 py-3 text-left font-sans text-xl font-semibold leading-snug antialiased transition-colors hover:text-blue-gray"
        >
          <div class="mr-2 grid flex-shrink-0 place-items-center">
            @@include('shared/sprite.html', { name: "user", class: "w-6 h-6" })
          </div>
          <p
            class="mr-auto block font-sans text-lg font-normal leading-relaxed text-blue-gray antialiased"
          >
            +7 912 761 9299
          </p>
          <span class="ml-4">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="2.5"
              stroke="currentColor"
              aria-hidden="true"
              class="mx-auto h-4 w-4 transition-transform"
              data-accordion-arrow
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M19.5 8.25l-7.5 7.5-7.5-7.5"
              ></path>
            </svg>
          </span>
        </button>
      </div>
      <div>
        <div
          class="flex max-h-0 flex-col gap-2 overflow-hidden transition-[max-height] duration-200"
          data-accordion-content=""
        >
          <div
            class="group mt-2.5 flex w-full flex-col gap-2 rounded-lg bg-[#F3F5F6] p-2.5 font-sans text-sm font-light leading-normal antialiased transition-all"
          >
            <button>
              <p
                class="mr-auto block font-sans text-lg font-bold leading-relaxed text-primary antialiased"
              >
                Выйти
              </p>
            </button>
          </div>
        </div>
      </div>
    </div>
  </nav>
</div>
