<div
        class="shadow-blue-gray-900/5 relative flex h-full w-full max-w-[275px] flex-col rounded-xl bg-white bg-clip-border p-2 text-blue-gray shadow-xl"
>
    <div class="mb-2 flex items-center gap-4 p-4">
        <img
                src="https://docs.material-tailwind.com/img/logo-ct-dark.png"
                alt="brand"
                class="h-8 w-8"
        />
        <h5
                class="block font-sans text-xl font-semibold leading-snug tracking-normal text-blue-gray antialiased"
        >
            Разделы
        </h5>
    </div>

    <nav
            class="text-blue-gray-700 flex flex-col gap-1 font-sans text-sm font-normal"
    >
        <div
                role="button"
                class="flex w-full items-center rounded-lg p-3 text-start leading-tight outline-none transition-all hover:bg-light-gray hover:bg-opacity-80 hover:text-blue-gray focus:bg-light-gray focus:bg-opacity-80 focus:text-blue-gray active:bg-light-gray active:bg-opacity-80 active:text-blue-gray"
        >
            <div class="mr-4 grid place-items-center">
                <img src="./img/icons/cog.svg">
            </div>
            <h5 class="font-normal text-lg">Запчасти</h5>

        </div>
        <div
                role="button"
                class="flex w-full items-center rounded-lg p-3 text-start leading-tight outline-none transition-all hover:bg-light-gray hover:bg-opacity-80 hover:text-blue-gray focus:bg-light-gray focus:bg-opacity-80 focus:text-blue-gray active:bg-light-gray active:bg-opacity-80 active:text-blue-gray"
        >
            <div class="mr-4 grid place-items-center">
                <img src="./img/icons/collection.svg">
            </div>
            <h5 class="font-normal text-lg">Быстрый разбор</h5>

        </div>
        <div
                role="button"
                class="flex w-full items-center rounded-lg p-3 text-start leading-tight outline-none transition-all hover:bg-light-gray hover:bg-opacity-80 hover:text-blue-gray focus:bg-light-gray focus:bg-opacity-80 focus:text-blue-gray active:bg-light-gray active:bg-opacity-80 active:text-blue-gray"
        >
            <div class="mr-4 grid place-items-center">
                <img src="./img/icons/shopping-cart.svg">
            </div>
            <h5 class="font-normal text-lg">Заказы</h5>
            <div class="ml-auto grid place-items-center justify-self-end">
                <div
                        class="bg-light-gray0/20 relative grid select-none items-center whitespace-nowrap rounded-full px-2 py-1 font-sans text-xs font-bold uppercase text-blue-gray"
                >
                    <span class="font-normal text-lg">14</span>
                </div>
            </div>
        </div>
        <div
                role="button"
                class="flex w-full items-center rounded-lg p-3 text-start leading-tight outline-none transition-all hover:bg-light-gray hover:bg-opacity-80 hover:text-blue-gray focus:bg-light-gray focus:bg-opacity-80 focus:text-blue-gray active:bg-light-gray active:bg-opacity-80 active:text-blue-gray"
        >
            <div class="mr-4 grid place-items-center">
                <img src="./img/icons/truck.svg">
            </div>

            <h5 class="font-normal text-lg">Машины</h5>
        </div>
        <div class="relative block w-full" data-accordion-item>
            <div
                    role="button"
                    class="flex w-full items-center rounded-lg p-0 text-start leading-tight outline-none transition-all hover:bg-light-gray hover:bg-opacity-80 hover:text-blue-gray focus:bg-light-gray focus:bg-opacity-80 focus:text-blue-gray active:bg-light-gray active:bg-opacity-80 active:text-blue-gray"
            >
                <button data-accordion-button
                        type="button"
                        class="border-b-blue-gray-100 text-blue-gray-700 flex w-full select-none items-center justify-between border-b-0 p-3 text-left font-sans text-xl font-semibold leading-snug antialiased transition-colors hover:text-blue-gray"
                >
                    <div class="mr-4 grid place-items-center">
                        <img src="./img/icons/depot.svg">
                    </div>
                    <p
                            class="mr-auto block font-sans leading-relaxed text-blue-gray antialiased font-normal text-lg"
                    >
                        Склад
                    </p>
                    <span class="ml-4">
  <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="2.5"
          stroke="currentColor"
          aria-hidden="true"
          class="mx-auto h-4 w-4 transition-transform"
          data-accordion-arrow
  >
    <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M19.5 8.25l-7.5 7.5-7.5-7.5"
    ></path>
  </svg>
</span>

                </button>
            </div>
            <div>

                <div class="transition-[max-height] duration-200 overflow-hidden max-h-0" data-accordion-content="">
                    <div
                            class="block w-full py-1 font-sans text-sm font-light leading-normal text-blue-gray antialiased"
                    >
                        <nav
                                class="ms-2 text-blue-gray-700 flex flex-col gap-1 p-0 font-sans text-sm font-normal"
                        >
                            <div
                                    role="button"
                                    class="flex w-full items-center rounded-lg p-3 text-start leading-tight outline-none transition-all hover:bg-light-gray hover:bg-opacity-80 hover:text-blue-gray focus:bg-light-gray focus:bg-opacity-80 focus:text-blue-gray active:bg-light-gray active:bg-opacity-80 active:text-blue-gray"
                            >
                                <div class="mr-4 grid place-items-center">
                                    <img src="./img/icons/document-text.svg">
                                </div>
                                <h5 class="font-normal text-lg">Размещение</h5>
                            </div>
                            <div
                                    role="button"
                                    class="flex w-full items-center rounded-lg p-3 text-start leading-tight outline-none transition-all hover:bg-light-gray hover:bg-opacity-80 hover:text-blue-gray focus:bg-light-gray focus:bg-opacity-80 focus:text-blue-gray active:bg-light-gray active:bg-opacity-80 active:text-blue-gray"
                            >
                                <div class="mr-4 grid place-items-center">
                                    <img src="./img/icons/document-text.svg">
                                </div>
                                <h5 class="font-normal text-lg">Инвентаризация</h5>
                            </div>
                            <div
                                    role="button"
                                    class="flex w-full items-center rounded-lg p-3 text-start leading-tight outline-none transition-all hover:bg-light-gray hover:bg-opacity-80 hover:text-blue-gray focus:bg-light-gray focus:bg-opacity-80 focus:text-blue-gray active:bg-light-gray active:bg-opacity-80 active:text-blue-gray"
                            >
                                <div class="mr-4 grid place-items-center">
                                    <img src="./img/icons/document-text.svg">
                                </div>
                                <h5 class="font-normal text-lg">Склады</h5>
                            </div>
                        </nav>
                    </div>
                </div>

            </div>
        </div>
        <div
                role="button"
                class="flex w-full items-center rounded-lg p-3 text-start leading-tight outline-none transition-all hover:bg-light-gray hover:bg-opacity-80 hover:text-blue-gray focus:bg-light-gray focus:bg-opacity-80 focus:text-blue-gray active:bg-light-gray active:bg-opacity-80 active:text-blue-gray"
        >
            <div class="mr-4 grid place-items-center">
                <img src="./img/icons/template.svg">
            </div>
            <h5 class="font-normal text-lg">Интеграции</h5>
        </div>
        <div
                role="button"
                class="flex w-full items-center rounded-lg p-3 text-start leading-tight outline-none transition-all hover:bg-light-gray hover:bg-opacity-80 hover:text-blue-gray focus:bg-light-gray focus:bg-opacity-80 focus:text-blue-gray active:bg-light-gray active:bg-opacity-80 active:text-blue-gray"
        >
            <div class="mr-4 grid place-items-center">
                <img src="./img/icons/briefcase.svg">
            </div>
            <h5 class="font-normal text-lg">Проценка</h5>
        </div>
        <div class="relative block w-full" data-accordion-item>
            <div
                    role="button"
                    class="flex w-full items-center rounded-lg p-0 text-start leading-tight outline-none transition-all hover:bg-light-gray hover:bg-opacity-80 hover:text-blue-gray focus:bg-light-gray focus:bg-opacity-80 focus:text-blue-gray active:bg-light-gray active:bg-opacity-80 active:text-blue-gray"
            >
                <button data-accordion-button
                        type="button"
                        class="border-b-blue-gray-100 text-blue-gray-700 flex w-full select-none items-center justify-between border-b-0 p-3 text-left font-sans text-xl font-semibold leading-snug antialiased transition-colors hover:text-blue-gray"
                >
                    <div class="mr-4 grid place-items-center">
                        <img src="./img/icons/book-open.svg">
                    </div>
                    <p
                            class="mr-auto block font-sans  leading-relaxed text-blue-gray antialiased font-normal text-lg"
                    >
                        Справочники
                    </p>
                    <span class="ml-4">
            <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="2.5"
                    stroke="currentColor"
                    aria-hidden="true"
                    class=" mx-auto h-4 w-4 transition-transform "
                    data-accordion-arrow
            >
              <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M19.5 8.25l-7.5 7.5-7.5-7.5"
              ></path>
            </svg>
          </span>
                </button>
            </div>
            <div class="overflow-hidden max-h-0" data-accordion-content>
                <div
                        class="block w-full py-1 font-sans text-sm font-light leading-normal text-blue-gray antialiased"
                >
                    <nav
                            class="ms-2 text-blue-gray-700 flex flex-col gap-1 p-0 font-sans text-sm font-normal"
                    >
                        <div
                                role="button"
                                class="flex w-full items-center rounded-lg p-3 text-start leading-tight outline-none transition-all hover:bg-light-gray hover:bg-opacity-80 hover:text-blue-gray focus:bg-light-gray focus:bg-opacity-80 focus:text-blue-gray active:bg-light-gray active:bg-opacity-80 active:text-blue-gray"
                        >
                            <div class="mr-4 grid place-items-center">
                                <img src="./img/icons/user-group.svg">
                            </div>
                            <h5 class="font-normal text-lg">Пользователи</h5>
                        </div>
                        <div
                                role="button"
                                class="flex w-full items-center rounded-lg p-3 text-start leading-tight outline-none transition-all hover:bg-light-gray hover:bg-opacity-80 hover:text-blue-gray focus:bg-light-gray focus:bg-opacity-80 focus:text-blue-gray active:bg-light-gray active:bg-opacity-80 active:text-blue-gray"
                        >
                            <div class="mr-4 grid place-items-center">
                                <img src="./img/icons/models.svg">
                            </div>
                            <h5 class="font-normal text-lg">Марки и модели ТС</h5>
                        </div>
                        <div
                                role="button"
                                class="flex w-full items-center rounded-lg p-3 text-start leading-tight outline-none transition-all hover:bg-light-gray hover:bg-opacity-80 hover:text-blue-gray focus:bg-light-gray focus:bg-opacity-80 focus:text-blue-gray active:bg-light-gray active:bg-opacity-80 active:text-blue-gray"
                        >
                            <div class="mr-4 grid place-items-center">
                                <img src="./img/icons/star.svg">
                            </div>
                            <h5 class="font-normal text-lg">Отзывы на сайте</h5>
                        </div>
                        <div
                                role="button"
                                class="flex w-full items-center rounded-lg p-3 text-start leading-tight outline-none transition-all hover:bg-light-gray hover:bg-opacity-80 hover:text-blue-gray focus:bg-light-gray focus:bg-opacity-80 focus:text-blue-gray active:bg-light-gray active:bg-opacity-80 active:text-blue-gray"
                        >
                            <div class="mr-4 grid place-items-center">
                                <img src="./img/icons/traffic.svg">
                            </div>
                            <h5 class="font-normal text-lg">Каналы трафика</h5>
                        </div>
                        <div
                                role="button"
                                class="flex w-full items-center rounded-lg p-3 text-start leading-tight outline-none transition-all hover:bg-light-gray hover:bg-opacity-80 hover:text-blue-gray focus:bg-light-gray focus:bg-opacity-80 focus:text-blue-gray active:bg-light-gray active:bg-opacity-80 active:text-blue-gray"
                        >
                            <div class="mr-4 grid place-items-center">
                                <img src="./img/icons/branches.svg">
                            </div>
                            <h5 class="font-normal text-lg">Филиалы</h5>
                        </div>


                        <div class="relative block w-full" data-accordion-item>
                            <div
                                    role="button"
                                    class="flex w-full items-center rounded-lg p-0 text-start leading-tight outline-none transition-all hover:bg-light-gray hover:bg-opacity-80 hover:text-blue-gray focus:bg-light-gray focus:bg-opacity-80 focus:text-blue-gray active:bg-light-gray active:bg-opacity-80 active:text-blue-gray"
                            >
                                <button data-accordion-button
                                        type="button"
                                        class="border-b-blue-gray-100 text-blue-gray-700 flex w-full select-none items-center justify-between border-b-0 p-3 text-left font-sans text-xl font-semibold leading-snug antialiased transition-colors hover:text-blue-gray"
                                >
                                    <div class="mr-4 grid place-items-center">
                                        <img src="./img/icons/cog.svg">
                                    </div>
                                    <p
                                            class="mr-auto block font-sans leading-relaxed text-blue-gray font-normal text-lg antialiased"
                                    >
                                        Запчасти
                                    </p>
                                    <span class="ml-4">
                  <svg
                          xmlns="http://www.w3.org/2000/svg"
                          fill="none"
                          viewBox="0 0 24 24"
                          stroke-width="2.5"
                          stroke="currentColor"
                          aria-hidden="true"
                          class="mx-auto h-4 w-4 transition-transform"
                          data-accordion-arrow
                  >
                    <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M19.5 8.25l-7.5 7.5-7.5-7.5"
                    ></path>
                  </svg>
                </span>

                                </button>
                            </div>
                            <div>

                                <div class="transition-[max-height] duration-200 overflow-hidden max-h-0"
                                     data-accordion-content="">
                                    <div
                                            class="block w-full py-1 font-sans text-sm font-light leading-normal text-blue-gray antialiased"
                                    >
                                        <nav
                                                class="ms-2 text-blue-gray-700 flex flex-col gap-1 p-0 font-sans text-sm font-normal"
                                        >
                                            <div
                                                    role="button"
                                                    class="flex w-full items-center rounded-lg p-3 text-start leading-tight outline-none transition-all hover:bg-light-gray hover:bg-opacity-80 hover:text-blue-gray focus:bg-light-gray focus:bg-opacity-80 focus:text-blue-gray active:bg-light-gray active:bg-opacity-80 active:text-blue-gray"
                                            >
                                                <div class="mr-4 grid place-items-center">
                                                    <img src="./img/icons/hub.svg">
                                                </div>
                                                <h5 class="font-normal text-lg">Узлы</h5>
                                            </div>
                                            <div
                                                    role="button"
                                                    class="flex w-full items-center rounded-lg p-3 text-start leading-tight outline-none transition-all hover:bg-light-gray hover:bg-opacity-80 hover:text-blue-gray focus:bg-light-gray focus:bg-opacity-80 focus:text-blue-gray active:bg-light-gray active:bg-opacity-80 active:text-blue-gray"
                                            >
                                                <div class="mr-4 grid place-items-center">
                                                    <img src="./img/icons/category.svg">
                                                </div>
                                                <h5 class="font-normal text-lg">Категории</h5>
                                            </div>
                                            <div
                                                    role="button"
                                                    class="flex w-full items-center rounded-lg p-3 text-start leading-tight outline-none transition-all hover:bg-light-gray hover:bg-opacity-80 hover:text-blue-gray focus:bg-light-gray focus:bg-opacity-80 focus:text-blue-gray active:bg-light-gray active:bg-opacity-80 active:text-blue-gray"
                                            >
                                                <div class="mr-4 grid place-items-center">
                                                    <img src="./img/icons/bookmark-alt.svg">
                                                </div>
                                                <h5 class="font-normal text-lg">Группы</h5>
                                            </div>
                                            <div
                                                    role="button"
                                                    class="flex w-full items-center rounded-lg p-3 text-start leading-tight outline-none transition-all hover:bg-light-gray hover:bg-opacity-80 hover:text-blue-gray focus:bg-light-gray focus:bg-opacity-80 focus:text-blue-gray active:bg-light-gray active:bg-opacity-80 active:text-blue-gray"
                                            >
                                                <div class="mr-4 grid place-items-center">
                                                    <img src="./img/icons/sparkles.svg">
                                                </div>
                                                <h5 class="font-normal text-lg">Особенности</h5>
                                            </div>
                                        </nav>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="relative block w-full" data-accordion-item>
                            <div
                                    role="button"
                                    class="flex w-full items-center rounded-lg p-0 text-start leading-tight outline-none transition-all hover:bg-light-gray hover:bg-opacity-80 hover:text-blue-gray focus:bg-light-gray focus:bg-opacity-80 focus:text-blue-gray active:bg-light-gray active:bg-opacity-80 active:text-blue-gray"
                            >
                                <button data-accordion-button
                                        type="button"
                                        class="border-b-blue-gray-100 text-blue-gray-700 flex w-full select-none items-center justify-between border-b-0 p-3 text-left font-sans text-xl font-semibold leading-snug antialiased transition-colors hover:text-blue-gray"
                                >
                                    <div class="mr-4 grid place-items-center">
                                        <img src="./img/icons/shopping-cart.svg">
                                    </div>
                                    <p
                                            class="mr-auto block font-sans leading-relaxed text-blue-gray font-normal text-lg  antialiased"
                                    >
                                        Заказы
                                    </p>
                                    <span class="ml-4">
                  <svg
                          xmlns="http://www.w3.org/2000/svg"
                          fill="none"
                          viewBox="0 0 24 24"
                          stroke-width="2.5"
                          stroke="currentColor"
                          aria-hidden="true"
                          class="mx-auto h-4 w-4 transition-transform"
                          data-accordion-arrow
                  >
                    <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M19.5 8.25l-7.5 7.5-7.5-7.5"
                    ></path>
                  </svg>
                </span>

                                </button>
                            </div>
                            <div>

                                <div class="transition-[max-height] duration-200 overflow-hidden max-h-0"
                                     data-accordion-content="">
                                    <div
                                            class="block w-full py-1 font-sans text-sm font-light leading-normal text-blue-gray antialiased"
                                    >
                                        <nav
                                                class="ms-2 text-blue-gray-700 flex flex-col gap-1 p-0 font-sans text-sm font-normal"
                                        >
                                            <div
                                                    role="button"
                                                    class="flex w-full items-center rounded-lg p-3 text-start leading-tight outline-none transition-all hover:bg-light-gray hover:bg-opacity-80 hover:text-blue-gray focus:bg-light-gray focus:bg-opacity-80 focus:text-blue-gray active:bg-light-gray active:bg-opacity-80 active:text-blue-gray"
                                            >
                                                <div class="mr-4 grid place-items-center">
                                                    <img src="./img/icons/clipboard-list.svg">
                                                </div>
                                                <h5 class="font-normal text-lg">Истроия заказов</h5>
                                            </div>
                                            <div
                                                    role="button"
                                                    class="flex w-full items-center rounded-lg p-3 text-start leading-tight outline-none transition-all hover:bg-light-gray hover:bg-opacity-80 hover:text-blue-gray focus:bg-light-gray focus:bg-opacity-80 focus:text-blue-gray active:bg-light-gray active:bg-opacity-80 active:text-blue-gray"
                                            >
                                                <div class="mr-4 grid place-items-center">
                                                    <img src="./img/icons/credit-card.svg">
                                                </div>
                                                <h5 class="font-normal text-lg">Способы оплаты заказов</h5>
                                            </div>

                                        </nav>
                                    </div>
                                </div>

                            </div>
                        </div>


                    </nav>
                </div>
            </div>
        </div>
        <div class="relative block w-full" data-accordion-item>
            <div
                    role="button"
                    class="flex w-full items-center rounded-lg p-0 text-start leading-tight outline-none transition-all hover:bg-light-gray hover:bg-opacity-80 hover:text-blue-gray focus:bg-light-gray focus:bg-opacity-80 focus:text-blue-gray active:bg-light-gray active:bg-opacity-80 active:text-blue-gray"
            >
                <button data-accordion-button
                        type="button"
                        class="border-b-blue-gray-100 text-blue-gray-700 flex w-full select-none items-center justify-between border-b-0 p-3 text-left font-sans text-xl font-semibold leading-snug antialiased transition-colors hover:text-blue-gray"
                >
                    <div class="mr-4 grid place-items-center">
                        <img src="./img/icons/user.svg">
                    </div>
                    <p
                            class="mr-auto block font-sans leading-relaxed text-blue-gray font-normal text-lg antialiased"
                    >
                        +7 912 761 9299
                    </p>
                    <span class="ml-4">
  <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="2.5"
          stroke="currentColor"
          aria-hidden="true"
          class="mx-auto h-4 w-4 transition-transform"
          data-accordion-arrow
  >
    <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M19.5 8.25l-7.5 7.5-7.5-7.5"
    ></path>
  </svg>
</span>

                </button>
            </div>
            <div>

                <div class=" flex flex-col gap-2 transition-[max-height] duration-200 overflow-hidden max-h-0" data-accordion-content="">
                    <div
                            class="group transition-all mt-2.5 rounded-lg  w-full  p-2.5 font-sans text-sm font-light leading-normal bg-[#F3F5F6] hover:bg-[#455A64] antialiased"
                    >
                        <button >
                            <p class="mr-auto block font-sans text-lg font-bold leading-relaxed text-success antialiased">
                                Баланс 12 190
                            </p>
                            <p class="mr-auto block font-sans text-lg font-normal leading-relaxed text-blue-gray group-hover:text-[#F3F5F6] antialiased">

                                При текущем уровне
                                списаний баланса хватит
                                до 26 мая 2024
                            </p>
                        </button>
                    </div>
                    <div
                            class="group transition-all mt-2.5 rounded-lg flex flex-col gap-2 w-full  p-2.5 font-sans text-sm font-light leading-normal bg-[#F3F5F6] hover:bg-[#455A64] antialiased"
                    >
                        <button>
                            <p class="mr-auto block font-sans text-lg font-bold leading-relaxed text-success antialiased">
                                Выйти
                            </p>
                        </button>
                    </div>
                </div>

            </div>
        </div>
    </nav>
</div>
