<div class="mb-8 mt-4">
    @@include('filters.html', {area: "advertisements"})
    <div
            class="relative flex h-full w-full flex-col rounded-xl bg-white bg-clip-border text-gray-700 shadow-md"
    >
        <div class="overflow-x-auto rounded-xl">
            <table class="w-full min-w-[1000px] table-auto overflow-x-auto text-left">
                <thead>
                <tr>
                    <th
                            class="border-blue-gray-100 bg-blue-gray-50/50 hover:bg-blue-gray-50 cursor-pointer border-b p-2 transition-colors"
                    >
                        <div class="inline-flex items-center">
                            @@include('shared/checkbox-input.html', {id: "advertisements-0",
                            optional_attr: 'data-table-checkbox-main="advertisements" ' } )
                        </div>
                    </th>
                    <th
                            class="border-blue-gray-100 bg-blue-gray-50/50 hover:bg-blue-gray-50 w-[150px] cursor-pointer border-b p-3 transition-colors"
                    >
                        <div
                                data-sorting-trigger
                                class="min-w-[400px] flex items-center justify-between gap-2 font-sans text-md font-normal leading-none antialiased"
                        >
                            <p
                                    data-sorting-title
                                    class="cursor-pointer font-semibold underline-offset-4 opacity-70"
                            >
                                Название
                            </p>
                            <div data-sorting-wrapper class="hidden items-center gap-1">
                                <div data-sorting-ascending class="mb-[5px]">
                                    <svg
                                            width="20"
                                            height="20"
                                            viewBox="0 0 24 24"
                                            fill="none"
                                            xmlns="http://www.w3.org/2000/svg"
                                    >
                                        <path
                                                d="M17 8V20M3 4H16H3ZM3 8H12H3ZM3 12H9H3ZM13 12L17 8L13 12ZM17 8L21 12L17 8Z"
                                                stroke="currentColor"
                                                stroke-width="2"
                                                stroke-linecap="round"
                                                stroke-linejoin="round"
                                        />
                                    </svg>
                                </div>
                                <span
                                        class="h-[15px] w-[2px] rotate-[15deg] rounded-full bg-[#8E8E8E]"
                                ></span>
                                <div data-sorting-descending class="mt-[5px]">
                                    <svg
                                            width="20"
                                            height="20"
                                            viewBox="0 0 24 24"
                                            fill="none"
                                            xmlns="http://www.w3.org/2000/svg"
                                    >
                                        <path
                                                d="M17 20L21 16M3 4H16H3ZM3 8H12H3ZM3 12H12H3ZM17 8V20V8ZM17 20L13 16L17 20Z"
                                                stroke="currentColor"
                                                stroke-width="2"
                                                stroke-linecap="round"
                                                stroke-linejoin="round"
                                        />
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </th>
                    <th
                            class="border-blue-gray-100 bg-blue-gray-50/50 hover:bg-blue-gray-50 w-[150px] cursor-pointer border-b p-3 transition-colors"
                    >
                        <div
                                data-sorting-trigger
                                class="min-w-[150px] flex items-center justify-between gap-2 font-sans text-md font-normal leading-none antialiased"
                        >
                            <p
                                    data-sorting-title
                                    class="cursor-pointer font-semibold underline-offset-4 opacity-70"
                            >
                                Цена
                            </p>
                            <div data-sorting-wrapper class="hidden items-center gap-1">
                                <div data-sorting-ascending class="mb-[5px]">
                                    <svg
                                            width="20"
                                            height="20"
                                            viewBox="0 0 24 24"
                                            fill="none"
                                            xmlns="http://www.w3.org/2000/svg"
                                    >
                                        <path
                                                d="M17 8V20M3 4H16H3ZM3 8H12H3ZM3 12H9H3ZM13 12L17 8L13 12ZM17 8L21 12L17 8Z"
                                                stroke="currentColor"
                                                stroke-width="2"
                                                stroke-linecap="round"
                                                stroke-linejoin="round"
                                        />
                                    </svg>
                                </div>
                                <span
                                        class="h-[15px] w-[2px] rotate-[15deg] rounded-full bg-[#8E8E8E]"
                                ></span>
                                <div data-sorting-descending class="mt-[5px]">
                                    <svg
                                            width="20"
                                            height="20"
                                            viewBox="0 0 24 24"
                                            fill="none"
                                            xmlns="http://www.w3.org/2000/svg"
                                    >
                                        <path
                                                d="M17 20L21 16M3 4H16H3ZM3 8H12H3ZM3 12H12H3ZM17 8V20V8ZM17 20L13 16L17 20Z"
                                                stroke="currentColor"
                                                stroke-width="2"
                                                stroke-linecap="round"
                                                stroke-linejoin="round"
                                        />
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </th>
                    <th
                            class="border-blue-gray-100 bg-blue-gray-50/50 hover:bg-blue-gray-50 w-[150px] cursor-pointer border-b p-3 transition-colors"
                    >
                        <div
                                data-sorting-trigger
                                class="min-w-[180px] flex items-center justify-between gap-2 font-sans text-md font-normal leading-none antialiased"
                        >
                            <p
                                    data-sorting-title
                                    class="cursor-pointer font-semibold underline-offset-4 opacity-70"
                            >
                                До (включая)
                            </p>
                            <div data-sorting-wrapper class="hidden items-center gap-1">
                                <div data-sorting-ascending class="mb-[5px]">
                                    <svg
                                            width="20"
                                            height="20"
                                            viewBox="0 0 24 24"
                                            fill="none"
                                            xmlns="http://www.w3.org/2000/svg"
                                    >
                                        <path
                                                d="M17 8V20M3 4H16H3ZM3 8H12H3ZM3 12H9H3ZM13 12L17 8L13 12ZM17 8L21 12L17 8Z"
                                                stroke="currentColor"
                                                stroke-width="2"
                                                stroke-linecap="round"
                                                stroke-linejoin="round"
                                        />
                                    </svg>
                                </div>
                                <span
                                        class="h-[15px] w-[2px] rotate-[15deg] rounded-full bg-[#8E8E8E]"
                                ></span>
                                <div data-sorting-descending class="mt-[5px]">
                                    <svg
                                            width="20"
                                            height="20"
                                            viewBox="0 0 24 24"
                                            fill="none"
                                            xmlns="http://www.w3.org/2000/svg"
                                    >
                                        <path
                                                d="M17 20L21 16M3 4H16H3ZM3 8H12H3ZM3 12H12H3ZM17 8V20V8ZM17 20L13 16L17 20Z"
                                                stroke="currentColor"
                                                stroke-width="2"
                                                stroke-linecap="round"
                                                stroke-linejoin="round"
                                        />
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </th>
                    <th
                            class="min-w-[180px] border-blue-gray-100 bg-blue-gray-50/50 hover:bg-blue-gray-50 cursor-pointer border-b p-3 transition-colors md:w-[33rem]"
                    >
                        <p
                                class="text-blue-gray-900 flex items-center justify-between gap-2 font-sans text-md font-normal leading-none antialiased opacity-70"
                        >
                            Группа
                        </p>
                    </th>
                    <th
                            class="min-w-[180px] border-blue-gray-100 bg-blue-gray-50/50 hover:bg-blue-gray-50 w-[150px] cursor-pointer border-b p-3 transition-colors"
                    >
                        <p
                                class="text-blue-gray-900 flex items-center justify-between gap-2 font-sans text-md font-normal leading-none antialiased opacity-70"
                        >
                            Avito ID
                        </p>
                    </th>
                    <th
                            class="border-blue-gray-100 bg-blue-gray-50/50 hover:bg-blue-gray-50 cursor-pointer border-b p-3 transition-colors"
                    >

                    </th>
                </tr>
                <tr>
                    <th
                            class="border-blue-gray-100 bg-blue-gray-50/50 hover:bg-blue-gray-50 cursor-pointer border-y p-2 transition-colors"
                    ></th>
                    <th
                            class="border-blue-gray-100 bg-blue-gray-50/50 hover:bg-blue-gray-50 cursor-pointer border-y p-3 transition-colors"
                    >
                        <div class="w-full">
                            @@include('shared/input-search.html', { placeholder: "Фильтр",
                            fontSize: "text-sm",
                            hint: "",
                            optional_attr: "",
                            id: "",
                            loupe: '<img src="../img/icons/loupe.svg" />',
                            width: "w-[150px]" })
                        </div>
                    </th>

                    <th
                            class="border-blue-gray-100 bg-blue-gray-50/50 hover:bg-blue-gray-50 cursor-pointer border-y p-3 transition-colors"
                    ></th>
                    <th
                            class="border-blue-gray-100 bg-blue-gray-50/50 hover:bg-blue-gray-50 cursor-pointer border-y p-3 transition-colors"
                    ></th>
                    <th
                            class="border-blue-gray-100 bg-blue-gray-50/50 hover:bg-blue-gray-50 cursor-pointer border-y p-3 transition-colors"
                    ></th>
                    <th
                            class="border-blue-gray-100 bg-blue-gray-50/50 hover:bg-blue-gray-50 cursor-pointer border-y p-3 transition-colors"
                    >
                        <div class="w-full">
                            @@include('shared/input-search.html', { placeholder: "Фильтр",
                            fontSize: "text-sm",
                            hint: "",
                            optional_attr: "",
                            id: "",
                            loupe: '<img src="../img/icons/loupe.svg" />',
                            width: "w-[150px]" })
                        </div>
                    </th>
                    <th
                            class="border-blue-gray-100 bg-blue-gray-50/50 hover:bg-blue-gray-50 cursor-pointer border-y p-3 transition-colors"
                    ></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="border-blue-gray-50 border-b p-2">
                        <div class="inline-flex items-center">
                            @@include('shared/checkbox-input.html', {id: "advertisements-1",
                            optional_attr: "data-table-checkbox-secondary='advertisements'" })
                        </div>
                    </td>
                    <td class="border-blue-gray-50 border-b p-3">
                        <div class="">
                            <button
                                    class="text-lg text-primary"
                                    type="button"
                                    data-graph-path="view-ad"
                            >
                                Кабина 2020г Daf XF106
                            </button>
                        </div>
                    </td>
                    <td class="border-blue-gray-50 border-b p-3">
                        <div class="flex flex-col justify-center gap-1">
                            2 500 000 р.
                        </div>
                    </td>
                    <td class="border-blue-gray-50 border-b p-3">
                        <div class="flex flex-col justify-center gap-1"></div>
                    </td>
                    <td class="border-blue-gray-50 border-b p-3">
                        <div class="">
                            <h4
                                    class="text-blue-gray-900 text-lg font-normal leading-normal antialiased"
                            > Avito Balashiha - Остальные </h4>
                        </div>
                    </td>
                    <td class="border-blue-gray-50 border-b p-3">
                        <h4
                                class="text-blue-gray-900 text-lg font-normal leading-normal antialiased"
                        >
                            3996184076
                        </h4>
                    </td>

                    <td class="border-blue-gray-50 border-b p-3">
                        <div
                                class="text-blue-gray-900 flex items-center gap-1 text-lg font-normal leading-normal antialiased"
                        >
                            @@include('shared/sprite.html', { name: "warning", class: "w-5 h-5 !text-[#E0AB18]" })
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="border-blue-gray-50 border-b p-2">
                        <div class="inline-flex items-center">
                            @@include('shared/checkbox-input.html', {id: "advertisements-1",
                            optional_attr: "data-table-checkbox-secondary='advertisements'" })
                        </div>
                    </td>
                    <td class="border-blue-gray-50 border-b p-3">
                        <div class="">
                            <button
                                    class="text-lg text-primary"
                                    type="button"
                                    data-graph-path="view-ad"
                            >
                                Двигатель 910.15-450 2023г. КАМАЗ 54901
                            </button>
                        </div>
                    </td>
                    <td class="border-blue-gray-50 border-b p-3">
                        <div class="flex flex-col justify-center gap-1">
                            2 300 000 р.
                        </div>
                    </td>
                    <td class="border-blue-gray-50 border-b p-3">
                        <div class="flex flex-col justify-center gap-1"></div>
                    </td>
                    <td class="border-blue-gray-50 border-b p-3">
                        <div class="">
                            <h4
                                    class="text-blue-gray-900 text-lg font-normal leading-normal antialiased"
                            > Avito Balashiha - Остальные </h4>
                        </div>
                    </td>
                    <td class="border-blue-gray-50 border-b p-3">
                        <h4
                                class="text-blue-gray-900 text-lg font-normal leading-normal antialiased"
                        >
                            4059969971
                        </h4>
                    </td>

                    <td class="border-blue-gray-50 border-b p-3">
                        <div
                                class="text-blue-gray-900 flex items-center gap-1 text-lg font-normal leading-normal antialiased"
                        >
                            @@include('shared/sprite.html', { name: "warning", class: "w-5 h-5 !text-[#E0AB18]" })
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        @@include('global/parts-selection/toasts.html')
    </div>
    @@include('footer.html', {summary: "Всего 25 записей" } )
</div>
